.ant-layout-content {
    .notification-container-warning {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--surface-shadow-1);
        border-radius: var(--card-border-radius);
        background-color: var(--notification-warning-background);
        padding: 24px 20px;
        margin-top: 24px;
    }
    .icon-left img {
        width: 50px;
        height: 50px;
    }

    .text-content {
        width: 85%;
        // padding: 0 20px;
        color: var(--color-txt-notification);
        font-family: var(--main-font);
    }

    .text-content h4 {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        color: var(--color-txt-notification);
        font-family: var(--brand-font);
    }

    .text-content p {
        margin: 0;
        font-size: 14px;
    }

    .action button {
        cursor: pointer;
        background-color: transparent;
        border: 0px;
        color: var(--color-txt-notification);
    }

    .icon-status-warning-notif {
        width: 24px;
        height: 24px;
        background-image: url("../../assets/icons/WarningOutline.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        filter: var(--color-nav-icon-filter-active);
    }
}
