:root {
    // BRANDING

    --brand-logo-main: url("../branding/logo-app.svg");
    --brand-logo-main-small: url("../branding/logo-app-small.svg");

    --brand-color-darker: #08374f;
    --brand-color-dark: #396f68;
    --brand-color-base: #3db2a4;
    --brand-color-light: #72c9bf;
    --brand-color-lighter: #a3e9e1;
    --brand-color-overbrand: #ffffff;
    --brand-color-base-filter: invert(44%) sepia(22%) saturate(1381%)
        hue-rotate(207deg) brightness(89%) contrast(88%);
    --brand-color-overbrand-filter: invert(100%) sepia(100%) saturate(1%)
        hue-rotate(2deg) brightness(111%) contrast(101%);

    // Cards
    --card-border: 0px solid #e7e3eb;
    --card-border-radius: 4px;
    --card-padding: 32px;
    --card-padding-mobile: 8px;

    // Data backgrounds
    --data-background-color: #f0f0f0;
    --data-background-radius: 4px;
    --data-background-padding: 8px 16px;
    --data-shadows-inset: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);

    // Common Margins
    --margin-vertical-small: 16px;
    --margin-vertical-medium: 32px;
    --margin-vertical-large: 40px;

    // MODALS
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 4px;
    --modals-backdrop-color: rgba(24, 24, 26, 0.1);
    --modals-backdrop-blur: 2px;
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 4px;

    //Surfaces
    --surface-background-image: linear-gradient(
        to right bottom,
        #dfefee,
        #f3fbfa,
        #e2fefb
    ); // can be set to none

    --surface-color-0: #ffffff00;
    --surface-color-1: rgba(255, 255, 255, 0.95);
    --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1);
    --surface-color-2: rgba(244, 245, 245, 0.6);
    --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-3: #ffffff;
    --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-inset: #fafafafa;
    --surface-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    // Token icons
    --icon-token-size: 32px;

    // Dashboard
    --icon-background-color: #f0f0f0;
    --icon-background-radius: 8px;

    // UI controls

    --color-controls-background: #f2f2f2;
    --color-controls-foreground-disabled: #d7d7d7;
    --color-controls-foreground-off: #8c8c89;
    --color-controls-foreground-on: #3b3b3b;
    --color-controls-active: #000000;
    --dividers: #cbd4da;

    // Buttons - common

    --btn-radius: 28px;
    --btn-radius-tiny: 2px;
    --btn-width: 200px;
    --btn-height: 54px;
    --btn-transition: 0.3s;
    --btn-small-height: 32px;
    --btn-small-padding: 16px;
    --btn-compact-height: 24px;
    --btn-compact-padding: 16px;
    --btn-compact-radius: 4px;

    // Buttons - Primary

    --color-btn-primary-background-default: #3db2a4;
    --color-btn-primary-txt-default: #ffffff;
    --color-btn-primary-filter-default: invert(79%) sepia(44%) saturate(2710%)
        hue-rotate(96deg) brightness(94%) contrast(87%);
    --color-btn-primary-icon-filter-default: invert(100%) sepia(12%)
        saturate(6798%) hue-rotate(242deg) brightness(118%) contrast(109%);

    --color-btn-primary-background-hover: #08374f;
    --color-btn-primary-txt-hover: #ffffff;
    --color-btn-primary-filter-hover: invert(100%) sepia(34%) saturate(1%)
        hue-rotate(210deg) brightness(108%) contrast(101%);

    --color-btn-primary-background-active: #6d62bf;
    --color-btn-primary-txt-active: #ffffff;

    --color-btn-primary-background-disabled: #d5d5d5;
    --color-btn-primary-txt-disabled: #959595;
    --color-btn-primary-filter-disabled: invert(61%) sepia(0%) saturate(0%)
        hue-rotate(37deg) brightness(97%) contrast(93%);

    --color-btn-primary-background-default-shadow: 0px 4px 8px
        rgba(58, 147, 125, 0.187);

    // Buttons - Secondary

    --color-btn-secondary-background-default: transparent;
    --color-btn-secondary-txt-default: var(
        --color-btn-primary-background-default
    );

    --color-btn-secondary-background-hover: transparent;
    --color-btn-secondary-txt-hover: var(--color-btn-primary-background-hover);

    --color-btn-secondary-background-active: transparent;
    --color-btn-secondary-txt-active: #3e9b74;

    --color-btn-secondary-background-disabled: #f1f3ed;
    --color-btn-secondary-txt-disabled: #334543;

    --color-btn-secondary-background-default-shadow: 0px 4px 8px
        rgba(43, 100, 124, 0.075);

    // Buttons - Tertiary

    --color-btn-tertiary-background-default: var(
        --color-btn-primary-background-default
    );
    --color-btn-tertiary-txt-default: var(--color-btn-primary-txt-default);

    --color-btn-tertiary-background-hover: transparent;
    --color-btn-tertiary-txt-hover: var(--color-btn-primary-txt-hover);

    --color-btn-tertiary-background-active: transparent;
    --color-btn-tertiary-txt-active: #5dc9bc;

    --color-btn-tertiary-background-disabled: #cfe3da;
    --color-btn-tertiary-txt-disabled: rgb(172, 181, 177);

    --color-btn-tertiary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);
    // Semantic

    --color-btn-semantic-txt-default: #ffffff;
    --color-btn-semantic-icon-filter-default: invert(100%) sepia(34%)
        saturate(1%) hue-rotate(210deg) brightness(108%) contrast(101%);

    --color-semantic-negative: #ce1717;
    --color-semantic-neutral: #9e9c9c;
    --color-semantic-neutral-alt: #72c9bf;
    --color-semantic-positive: #1cb900;
    --filter-semantic-negative: invert(21%) sepia(82%) saturate(5552%)
        hue-rotate(353deg) brightness(82%) contrast(98%);
    --filter-semantic-neutral: invert(75%) sepia(4%) saturate(30%)
        hue-rotate(314deg) brightness(83%) contrast(88%);
    --filter-semantic-positive: invert(43%) sepia(93%) saturate(1081%)
        hue-rotate(77deg) brightness(100%) contrast(103%);

    // Notifications

    --notification-info-border: none;
    --notification-info-background: var(--surface-color-1);
    --notification-info-text: #1a1a1d;
    --notification-info-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-warning-border: none;
    --notification-warning-background: #1b506a;
    --notification-warning-text: #ffffff;
    --notification-warning-filter: invert(99%) sepia(0%) saturate(6014%)
        hue-rotate(357deg) brightness(124%) contrast(90%);

    --notification-success-border: none;
    --notification-success-background: var(--color-semantic-positive);
    --notification-success-text: #ffffff;
    --notification-success-filter: invert(99%) sepia(0%) saturate(6014%)
        hue-rotate(357deg) brightness(124%) contrast(90%);

    --notification-neutral-border: none;
    --notification-neutral-background: #b5b5b5;
    --notification-neutral-text: #0c0c08;
    --notification-neutral-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-error-border: none;
    --notification-error-background: var(--color-semantic-negative);
    --notification-error-text: #ffffff;
    --notification-error-filter: invert(99%) sepia(0%) saturate(6014%)
        hue-rotate(357deg) brightness(124%) contrast(90%);

    --notification-permanent-background: #1b506a;
    --notification-permanent-text: #ffffff;
    --notification-permanent-filter: invert(100%) sepia(91%) saturate(38%)
        hue-rotate(321deg) brightness(110%) contrast(110%);

    // Main nav colors

    --color-nav-background-default: transparent;
    --color-nav-txt-default: #08374f;
    --color-nav-icon-filter-default: invert(15%) sepia(14%) saturate(6001%)
        hue-rotate(171deg) brightness(98%) contrast(94%);

    --color-nav-background-hover: transparent;
    --color-nav-txt-hover: #08374f;
    --color-nav-icon-filter-hover: invert(15%) sepia(14%) saturate(6001%)
        hue-rotate(171deg) brightness(98%) contrast(94%);

    --color-nav-background-active: #08374f;
    --color-nav-txt-active: #ffffff; //over hover color
    --color-nav-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-nav-background-disabled: transparent;
    --color-nav-txt-disabled: #e0e0e0; //over hover color
    --color-nav-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Mobile nav
    --color-mobilenav-header-background: var(--brand-color-base);
    --color-mobilenav-header-text: #ffffff;
    --color-mobilenav-header-shadow: 0px 4px -2px rgb(0, 0, 0);
    --color-mobilenav-header-filter: var(--brand-color-overbrand-filter);
    --color-mobilenav-background-default: #000000;
    --color-mobilenav-txt-default: #ffffff;
    --color-mobilenav-icon-filter: var(--brand-color-overbrand-filter);

    // Language nav colors

    --color-language-background-default: transparent;
    --color-language-txt-default: #000000;
    --color-language-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
        hue-rotate(77deg) brightness(105%) contrast(106%);

    --color-language-background-hover: #000000;
    --color-language-txt-hover: #ffffff;
    --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-language-background-active: transparent;
    --color-language-txt-active: #3db2a4; //over hover color
    --color-language-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-language-background-disabled: transparent;
    --color-language-txt-disabled: #e0e0e0; //over hover color
    --color-language-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Dropdown menus
    --color-dropdown-background-default: var(--surface-color-1);
    --color-dropdown-txt-default: var(--brand-color-base);
    --color-dropdown-background-hover: var(--brand-color-base);
    --color-dropdown-txt-hover: #ffffff;
    --color-dropdown-background-active: #78beb6;
    --color-dropdown-txt-active: #000000;

    // Text colors & fonts

    --color-txt-primary: #0f1419;
    --color-txt-secondary: #738694;
    --color-txt-highlight: var(--brand-color-base);
    --color-txt-link: var(--brand-color-base);
    --color-txt-notification: #ffffff;
    --link-txt-style: underline;
    --color-txt-inverted: #ffffff;

    --color-icon-primary: invert(36%) sepia(25%) saturate(350%)
        hue-rotate(162deg) brightness(94%) contrast(86%);

    --color-icon-link-filter: invert(66%) sepia(37%) saturate(621%)
        hue-rotate(123deg) brightness(85%) contrast(91%);
    --color-icon-link-hover-filter: invert(66%) sepia(37%) saturate(621%)
        hue-rotate(123deg) brightness(85%) contrast(91%);

    --color-icon-link-secondary-filter: invert(44%) sepia(28%) saturate(232%)
        hue-rotate(174deg) brightness(93%) contrast(91%);
    --color-icon-link-secondary-hover-filter: invert(44%) sepia(28%)
        saturate(232%) hue-rotate(174deg) brightness(93%) contrast(91%);

    --brand-font: "Sora", sans-serif;
    --main-font: "Open Sans", sans-serif;

    // rLogin

    --rlogin-themeswitcher-display: none;
    --rlogin-title-background-color: #000000;
    --rlogin-content-title-color: var(--color-txt-primary);
    --rlogin-content-background-color: #dce0df;
    --rlogin-content-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --rlogin-content-border-color: var(--rlogin-title-background-color);
    --rlogin-content-txt-color: var(--color-txt-primary);
    --rlogin-provider-background-color: var(--surface-color-1);
    --rlogin-provider-border-color: #08374f;
    --rlogin-provider-border-shadow: 0px 0px 0px rgba(18, 18, 19, 0.1);
    --rlogin-spinner-color: var(--brand-color-base);

    --rlogin-border-radius: 4px;
    --rlogin-poweredby-color: rgb(0, 0, 0);
    --rlogin-logo-filter-color: invert(100%) sepia(90%) saturate(0%)
        hue-rotate(225deg) brightness(99%) contrast(90%);
}
