/*
section_staking.scss contains all the css code for Staking section cards not contained in global.scss
*/
// Variables
$breakpoint-mobile: 600px;
/*
    --- Staking ---
*/

.sectionStaking {
    .row-section {
        margin-top: var(--layout-module-gap-vertical);
    }
    .firstCardsGroup {
        display: flex;
        column-gap: var(--layout-module-gap-horizontal);
        width: 100%;
    }
    #stakingCard {
        flex: 0 0 475px;
        width: 475px;
    }

    .distributionCardWrapper {
        flex: 1 1 0;
        min-width: 0;
    }

    #distributionCard {
        width: 100%;
        height: 100%;
    }

    #performanceCard {
        flex: 0 0 288px;
        width: 288px;
    }
    .card-content {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .staking-select-token {
        margin-left: 8px;
    }
    .input-value {
        font-weight: 700;
        font-size: 20px;
        font-family: var(--brand-font);
    }
    .tab-button {
        cursor: pointer;
        margin-right: 5px;
        border: none;
        border-bottom: 4px solid var(--color-controls-background-disabled);
        background-color: transparent;
        padding: 5px 5px;
        padding-bottom: 0px;
        color: var(--color-txt-primary);
        font-weight: 600;
        font-family: var(--brand-font);
    }

    .tab-button.active {
        border-bottom: 4px solid var(--color-controls-active);
        background-color: transparent;
        color: var(--color-txt-highlight);
    }

    .tab-divider {
        margin-bottom: 20px;
        border-bottom: 2px solid var(--color-controls-foreground-on);
        height: 1px;
    }

    .staked-text {
        margin-top: 22px;
        color: var(--color-txt-primary);
        font-weight: 400;
        font-size: 14px;
        font-family: var(--main-font);
        text-align: left;
    }

    .ChartContainer {
        display: flex;
        align-items: flex-end;
        margin-top: 40px;
        padding-bottom: 25px;
        padding-left: 0px;
        height: 340px;

        .ChartGraphic {
            display: flex;
            column-gap: 10px;
            flex-direction: row;
            justify-items: center;
            margin: 0 auto;
            width: 120px;
            height: 300px;

            .ChartColumn {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                border: 1px solid var(--surface-color-1);

                .Bar {
                    position: relative;
                    flex-grow: 1;
                    border: 1px solid var(--surface-color-1);
                    background: var(--brand-color-base);

                    div {
                        position: absolute;
                        bottom: 16px;
                        width: 100%;
                        color: var(--brand-color-overbrand);
                        font-weight: bold;
                        font-size: 8px;
                        line-height: 8px;
                        text-align: center;
                    }

                    &.Percent {
                        flex-grow: 0;
                        transition: ease all 0.5s;
                        background: var(--brand-color-dark);
                        height: 0;

                        &.Hidden {
                            background: transparent;
                        }
                    }
                }
            }
        }

        .ChartText {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 20px;
            width: 86px;

            .percent {
                margin-bottom: 4px;
                color: var(--color-txt-primary);
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                font-family: var(--brand-font);
                letter-spacing: 0px;
                text-align: left;
            }

            .percent-note {
                width: 100%;
                color: var(--color-txt-primary);
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                font-family: var(--main-font);
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }

    .staking-distribution-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
        .pie-chart-total {
            margin-bottom: 16px;
            width: 100%;
            text-align: right;

            .pie-chart-total-amount {
                font-weight: 600;
                font-size: 18px;
                line-height: normal;
                font-family: var(--brand-font);
            }
            .pie-chart-total-title {
                color: var(--color-txt-secondary);
                font-size: 10px;
                text-transform: uppercase;
            }
        }
        .pie-chart-container {
            height: 250px;
            color: var(--color-txt-primary);
        }
        .dataContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 4px;
            width: 100%;
            color: var(--color-txt-primary);

            :nth-child(1) > .data-bullet {
                background-color: var(--brand-color-darker);
            }
            :nth-child(2) > .data-bullet {
                background-color: var(--brand-color-dark);
            }
            :nth-child(3) > .data-bullet {
                background-color: var(--brand-color-base);
            }
            :nth-child(4) > .data-bullet {
                background-color: var(--brand-color-light);
            }
            :nth-child(5) > .data-bullet {
                background-color: var(--brand-color-lighter);
            }
            .data-row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                margin-bottom: 8px;
                width: 100%;
                line-height: 12px;
                .data-bullet {
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }
                .data-numbers {
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }

    .SelectCurrency.disabled {
        .ant-select-selection-item {
            width: 100%;
        }
    }
    .StakingOptionsModal {
        font-family: var(--brand-font);

        .ant-modal-content {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
            background: rgb(248, 248, 249);
            // background-color: red !important;
        }
        .ant-modal-header {
            border-bottom: 0 !important;
            background-color: transparent !important;
            padding: 24px 24px;
            font-style: italic;
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
        }

        .ant-modal-title {
            color: black !important;
            font-style: normal !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            font-family: "Sora";
            letter-spacing: 0px !important;
            text-align: left !important;
        }

        .ant-modal-body {
            padding: 14px 32px;
        }
    }
    .input-validation-error {
        opacity: 1;
        margin-top: 5px;
        color: var(--color-semantic-negative);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        font-family: var(--main-font);
        letter-spacing: 0px;
        text-align: left;
    }
    .alert {
        margin-bottom: 24px;
    }
}

.card-stakingData {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    width: 576px;
    .ant-table-cell {
        border: none;
        padding: 0;
    }
    .table__stakingData {
        width: 100%;
        .table__header {
            display: flex;
            flex-direction: row;
            gap: 32px;
            color: var(--color-txt-secondary);
            font-weight: 600;
            font-size: 14px;
        }
        .table__row {
            display: flex;
            flex-direction: row;
            gap: 32px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: var(--color-txt-primary);
        }
        .stakingTableData__date {
            width: 156px;
        }
        .stakingTableData__amount {
            width: 128px;
        }
        .stakingTableData__operation {
            width: 128px;
        }
    }
}

.sectionStaking {
    @media (max-width: $breakpoint-mobile) {
        padding: 0px;
        width: 100%;

        .dashboard-staking-info {
            flex-wrap: wrap;
            padding: 8px !important;
            height: auto;
            .stakingDash__item {
                width: 156px;
                .stakingDash__data {
                    width: 110px;
                }
                .stakingDash__data__amount {
                    font-size: 16px;
                }
            }
        }

        .firstCardsGroup {
            flex-direction: column;
            gap: var(--layout-module-gap-vertical);

            #stakingCard,
            .distributionCardWrapper,
            #performanceCard {
                flex-basis: auto;
                width: 100%;
            }
        }
    }
    #lastStakingOperations {
        // display: none;
    }
}
