[data-theme="dark"] {
    --default-theme: "dark";

    // BRANDING

    --brand-logo-main: url("../branding/logo-app-dark.svg");
    --brand-logo-main-small: url("../branding/logo-app-small-dark.svg");

    --brand-color-darker: #807d44;
    --brand-color-dark: #b3af5c;
    --brand-color-base: #fff383;
    --brand-color-light: #fffdc1;
    --brand-color-lighter: #fffee0;
    --brand-color-base-filter: invert(82%) sepia(52%) saturate(365%)
        hue-rotate(357deg) brightness(106%) contrast(104%);
    --brand-color-overbrand-filter: invert(4%) sepia(22%) saturate(471%)
        hue-rotate(22deg) brightness(109%) contrast(100%);
    --brand-color-overbrand: #0c0c08;

    // Cards
    --card-border: none;
    --card-border-radius: 8px;
    --card-padding: 32px;
    --card-padding-mobile: 16px 0px;

    // Data backgrounds
    --data-background-color: #26272f;
    --data-background-radius: 4px;
    --data-background-padding: 8px 16px;
    --data-shadows-inset: none;

    // Common Margins
    --margin-vertical-small: 16px;
    --margin-vertical-medium: 32px;
    --margin-vertical-large: 40px;

    // MODALS
    --modals-padding: 16px 16px 16px 16px;
    --modals-backdrop-color: rgba(24, 24, 26, 0.1);
    --modals-backdrop-blur: 2px;
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 8px;

    //Surfaces
    --surface-background-image: linear-gradient(
        to right bottom,
        #1312156e,
        #161518,
        #131215,
        #1b1a1e6e,
        #131215
    ); // can be set to none

    --surface-color-0: #131215;
    --surface-color-1: #1c1b21;
    --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-2: #212128;
    --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-3: #212128;
    --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.1499125874125874);
    --surface-color-inset: #26272f;
    --surface-shadow-inset: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);

    // Token icons
    --icon-token-size: 32px;

    // Dashboard icons background color
    --icon-background-color: #2b2e34;
    --icon-background-radius: 4px;

    // UI controls

    --color-controls-background: #26272f;
    --color-controls-disabled: #494c50;
    --color-controls-foreground-off: #8c8c89;
    --color-controls-foreground-on: #9d9d98;
    --color-controls-active: #fff383;
    --dividers: #3a3e40;

    // Buttons - common

    --btn-radius: 28px;
    --btn-radius-tiny: 4px;
    --btn-width: 200px;
    --btn-height: 54px;
    --btn-transition: 0.3s;
    --btn-small-height: 32px;
    --btn-small-padding: 16px;

    // Buttons - Primary

    --color-btn-primary-background-default: #fff383;
    --color-btn-primary-txt-default: #0c0c08;
    --color-btn-primary-filter-default: invert(100%) sepia(29%) saturate(392%)
        hue-rotate(175deg) brightness(109%) contrast(102%);
    --color-btn-primary-icon-filter-default: invert(7%) sepia(25%)
        saturate(242%) hue-rotate(21deg) brightness(97%) contrast(107%);

    --color-btn-primary-background-hover: #e8d421;
    --color-btn-primary-txt-hover: #0c0c08;
    --color-btn-primary-filter-hover: invert(6%) sepia(18%) saturate(447%)
        hue-rotate(22deg) brightness(93%) contrast(102%);

    --color-btn-primary-background-active: #c1bc3f;
    --color-btn-primary-txt-active: #0c0c08;

    --color-btn-primary-background-disabled: #2c2c2c;
    --color-btn-primary-txt-disabled: #212020;
    --color-btn-primary-filter-disabled: invert(12%) sepia(1%) saturate(0%)
        hue-rotate(177deg) brightness(101%) contrast(98%);

    --color-btn-primary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.6);

    // Buttons - Secondary

    --color-btn-secondary-background-default: transparent;
    --color-btn-secondary-txt-default: #fff383;

    --color-btn-secondary-background-hover: transparent;
    --color-btn-secondary-txt-hover: #e8d421;

    --color-btn-secondary-background-active: transparent;
    --color-btn-secondary-txt-active: #c1bc3f;

    --color-btn-secondary-background-disabled: #000000;
    --color-btn-secondary-txt-disabled: #000000;

    --color-btn-secondary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);

    // Buttons - Tertiary

    --color-btn-tertiary-background-default: #2a2a32;
    --color-btn-tertiary-txt-default: #fff383;

    --color-btn-tertiary-background-hover: transparent;
    --color-btn-tertiary-txt-hover: #e8d421;

    --color-btn-tertiary-background-active: transparent;
    --color-btn-tertiary-txt-active: #c1bc3f;

    --color-btn-tertiary-background-disabled: #232328;
    --color-btn-tertiary-txt-disabled: rgb(104, 104, 107);

    --color-btn-tertiary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);

    // Semantic

    --color-btn-semantic-txt-default: #0c0c08;
    --color-btn-semantic-icon-filter-default: invert(6%) sepia(18%)
        saturate(447%) hue-rotate(22deg) brightness(93%) contrast(102%);

    --color-semantic-negative: #e95e5d;
    --color-semantic-neutral: #b5b5b5;
    --color-semantic-neutral-alt: #e8d421;
    --color-semantic-positive: #69e453;
    --filter-semantic-negative: invert(33%) sepia(83%) saturate(710%)
        hue-rotate(320deg) brightness(106%) contrast(97%);
    --filter-semantic-neutral: invert(88%) sepia(0%) saturate(2518%)
        hue-rotate(294deg) brightness(90%) contrast(71%);
    --filter-semantic-positive: invert(78%) sepia(47%) saturate(620%)
        hue-rotate(55deg) brightness(94%) contrast(93%);

    // Notifications

    --notification-success-background: var(--color-semantic-positive);
    --notification-success-text: #0c0c08;
    --notification-success-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-error-background: var(--color-semantic-negative);
    --notification-error-text: #0c0c08;
    --notification-error-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-warning-background: #0d0d0d;
    --notification-warning-text: #0c0c08;
    --notification-warning-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-info-background: #b5b5b5;
    --notification-info-text: #0c0c08;
    --notification-info-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-permanent-background: #fff383;
    --notification-permanent-text: #0c0c08;
    --notification-permanent-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    // Main nav colors

    --color-nav-background-default: transparent;
    --color-nav-txt-default: #7f8a99;
    --color-nav-icon-filter-default: invert(57%) sepia(8%) saturate(592%)
        hue-rotate(175deg) brightness(93%) contrast(92%);

    --color-nav-background-hover: transparent;
    --color-nav-txt-hover: #fff383;
    --color-nav-icon-filter-hover: invert(100%) sepia(20%) saturate(6237%)
        hue-rotate(317deg) brightness(107%) contrast(115%);

    --color-nav-background-active: #202028;
    --color-nav-txt-active: #fff383; //over hover color
    --color-nav-icon-filter-active: invert(100%) sepia(20%) saturate(6237%)
        hue-rotate(317deg) brightness(107%) contrast(115%);

    --color-nav-background-disabled: transparent;
    --color-nav-txt-disabled: #e0e0e0; //over hover color
    --color-nav-icon-filter-disabled: invert(100%) sepia(20%) saturate(6237%)
        hue-rotate(317deg) brightness(107%) contrast(115%);

    // Mobile nav
    --color-mobilenav-header-background: #212128;
    --color-mobilenav-header-text: #ffffff;
    --color-mobilenav-header-shadow: 0px 4px -2px rgb(0, 0, 0);
    --color-mobilenav-header-filter: invert(100%) sepia(0%) saturate(5939%)
        hue-rotate(176deg) brightness(99%) contrast(113%);
    --color-mobilenav-background-default: #fff383;
    --color-mobilenav-txt-default: var(--brand-color-overbrand);
    --color-mobilenav-icon-filter: var(--brand-color-overbrand-filter);

    // Language nav colors

    --color-language-background-default: transparent;
    --color-language-txt-default: #7f8a99;
    --color-language-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
        hue-rotate(77deg) brightness(105%) contrast(106%);

    --color-language-background-hover: #fff383;
    --color-language-txt-hover: #0c0c08;
    --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-language-background-active: transparent;
    --color-language-txt-active: #fff383; //over hover color
    --color-language-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-language-background-disabled: transparent;
    --color-language-txt-disabled: #e0e0e0; //over hover color
    --color-language-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Dropdown menus
    --color-dropdown-background-default: var(--surface-color-1);
    --color-dropdown-txt-default: #fff383;
    --color-dropdown-background-hover: #fff383;
    --color-dropdown-txt-hover: #000000;
    --color-dropdown-background-active: #fff38379;
    --color-dropdown-txt-active: #000000;

    // Text colors & fonts

    --color-txt-primary: #c3ccd9;
    --color-txt-secondary: #667180;
    --color-txt-highlight: #fff383;
    --color-txt-link: #fff383;
    --color-txt-notification: #ffffff;
    --color-txt-inverted: #0c0c08;

    --link-txt-style: underline;

    --color-icon-primary: invert(93%) sepia(5%) saturate(859%)
        hue-rotate(185deg) brightness(85%) contrast(99%);

    --color-icon-link-filter: var(--brand-color-base-filter);
    --color-icon-link-hover-filter: invert(72%) sepia(90%) saturate(420%)
        hue-rotate(5deg) brightness(102%) contrast(91%);

    --color-icon-link-secondary-filter: invert(44%) sepia(28%) saturate(232%)
        hue-rotate(174deg) brightness(93%) contrast(91%);
    --color-icon-link-secondary-hover-filter: invert(44%) sepia(28%)
        saturate(232%) hue-rotate(174deg) brightness(93%) contrast(91%);

    --brand-font: "Chivo", sans-serif;
    --main-font: "Open Sans", sans-serif;

    // rLogin

    --rlogin-themeswitcher-display: none;
    --rlogin-title-background-color: #212128;
    --rlogin-content-title-color: var(--color-txt-primary);
    --rlogin-content-background-color: #26272f;
    --rlogin-content-shadow-inset: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    --rlogin-content-border-color: #212128;
    --rlogin-content-txt-color: var(--color-txt-primary);
    --rlogin-provider-background-color: #3e424a;
    --rlogin-provider-border-color: #fff383;
    --rlogin-provider-border-shadow: 0px 4px 4px rgba(17, 17, 16, 0.618);
    --rlogin-spinner-color: #fff383;

    --rlogin-border-radius: 8px;
    --rlogin-poweredby-color: white;
    --rlogin-logo-filter-color: invert(100%) sepia(0%) saturate(7438%)
        hue-rotate(319deg) brightness(108%) contrast(113%);
}
