:root {
    // BRANDING

    --brand-logo-main: url("../branding/logo-app.svg");
    --brand-logo-main-small: url("../branding/logo-app-small.svg");

    --brand-color-darker: #379c72;
    --brand-color-dark: #32ac79;
    --brand-color-base: #11e18a;
    --brand-color-light: #2cea9b;
    --brand-color-lighter: #55f0b0;
    --brand-color-overbrand: #0c0c08;
    --brand-color-base-filter: invert(22%) sepia(67%) saturate(3507%)
        hue-rotate(233deg) brightness(114%) contrast(88%);
    --brand-color-overbrand-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    // Cards
    --card-border: none;
    --card-border-radius: 8px;
    --card-padding: 32px;
    --card-padding-mobile: 8px;

    // Data backgrounds
    --data-background-color: #ebeeee;
    --data-background-radius: 4px;
    --data-background-padding: 8px 16px;
    --data-shadows-inset: none;

    // Common Margins
    --margin-vertical-small: 16px;
    --margin-vertical-medium: 32px;
    --margin-vertical-large: 40px;

    // MODALS
    --modals-padding: 16px 16px 16px 16px;
    --modals-backdrop-color: rgba(24, 24, 26, 0.1);
    --modals-backdrop-blur: 2px;
    --modals-padding: 16px 16px 16px 16px;
    --modals-border-radius: 8px;

    //Surfaces
    --surface-background-image: radial-gradient(
        at left top,
        #ecef88,
        #82eabe
    ); // can be set to none

    --surface-color-0: #ffffff00;
    --surface-color-1: rgba(250, 253, 248, 0.95);
    --surface-shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.15);
    --surface-color-2: rgba(255, 255, 255, 0.99);
    --surface-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.15);
    --surface-color-3: #ffffff;
    --surface-shadow-3: 0px 1px 4px rgba(0, 0, 0, 0.15);
    --surface-color-inset: #f9f9f3;
    --surface-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    // Token icons
    --icon-token-size: 32px;

    // Dashboard
    --icon-background-color: #e7f4ef;
    --icon-background-radius: 4px;

    // UI controls

    --color-controls-background: #f0f6f3;
    --color-controls-foreground-disabled: #d7d7d7;
    --color-controls-foreground-off: #8c8c89;
    --color-controls-foreground-on: #3b3b3b;
    --color-controls-active: #000000;
    --dividers: #3a3e40;

    // Buttons - common

    --btn-radius: 28px;
    --btn-radius-tiny: 4px;
    --btn-width: 200px;
    --btn-height: 54px;
    --btn-transition: 0.3s;
    --btn-small-height: 32px;
    --btn-small-padding: 16px;

    // Buttons - Primary

    --color-btn-primary-background-default: #12d382;
    --color-btn-primary-txt-default: #0c0c08;
    --color-btn-primary-filter-default: invert(79%) sepia(44%) saturate(2710%)
        hue-rotate(96deg) brightness(94%) contrast(87%);
    --color-btn-primary-icon-filter-default: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(102deg) brightness(102%) contrast(101%);

    --color-btn-primary-background-hover: #30d28f;
    --color-btn-primary-txt-hover: #0c0c08;
    --color-btn-primary-filter-hover: invert(48%) sepia(46%) saturate(464%)
        hue-rotate(103deg) brightness(100%) contrast(90%);

    --color-btn-primary-background-active: #3e9b74;
    --color-btn-primary-txt-active: #ffffff;

    --color-btn-primary-background-disabled: #f1f3ed;
    --color-btn-primary-txt-disabled: #8b9b99;
    --color-btn-primary-filter-disabled: invert(61%) sepia(0%) saturate(0%)
        hue-rotate(37deg) brightness(97%) contrast(93%);

    --color-btn-primary-background-default-shadow: 0px 4px 8px
        rgba(91, 107, 89, 0.2);

    // Buttons - Secondary

    --color-btn-secondary-background-default: transparent;
    --color-btn-secondary-txt-default: #12d382;
    --color-btn-secondary-background-hover: transparent;
    --color-btn-secondary-txt-hover: #3e9b74;

    --color-btn-secondary-background-active: transparent;
    --color-btn-secondary-txt-active: #3e9b74;

    --color-btn-secondary-background-disabled: #f1f3ed;
    --color-btn-secondary-txt-disabled: #334543;

    --color-btn-secondary-background-default-shadow: 0px 4px 8px
        rgba(41, 147, 25, 0.2);

    // Buttons - Tertiary

    --color-btn-tertiary-background-default: #12d382;
    --color-btn-tertiary-txt-default: #ffffff;

    --color-btn-tertiary-background-hover: transparent;
    --color-btn-tertiary-txt-hover: #e8d421;

    --color-btn-tertiary-background-active: transparent;
    --color-btn-tertiary-txt-active: #c1bc3f;

    --color-btn-tertiary-background-disabled: #cfe3da;
    --color-btn-tertiary-txt-disabled: rgb(172, 181, 177);

    --color-btn-tertiary-background-default-shadow: 0px 4px 8px
        rgba(147, 144, 25, 0.2);

    // Semantic

    --color-btn-semantic-txt-default: #ffffff;
    --color-btn-semantic-icon-filter-default: invert(100%) sepia(34%)
        saturate(1%) hue-rotate(210deg) brightness(108%) contrast(101%);

    --color-semantic-negative: #ce1717;
    --color-semantic-neutral: #9e9c9c;
    --color-semantic-neutral-alt: #e8d421;
    --color-semantic-positive: #1cb900;
    --filter-semantic-negative: invert(21%) sepia(82%) saturate(5552%)
        hue-rotate(353deg) brightness(82%) contrast(98%);
    --filter-semantic-neutral: invert(75%) sepia(4%) saturate(30%)
        hue-rotate(314deg) brightness(83%) contrast(88%);
    --filter-semantic-positive: invert(43%) sepia(90%) saturate(2374%)
        hue-rotate(78deg) brightness(107%) contrast(103%);

    // Notifications

    --notification-success-background: var(--color-semantic-positive);
    --notification-success-text: #0c0c08;
    --notification-success-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-error-background: var(--color-semantic-negative);
    --notification-error-text: #0c0c08;
    --notification-error-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-warning-background: #0d0d0d;
    --notification-warning-text: #ffffff;
    --notification-warning-filter: invert(100%) sepia(6%) saturate(1546%)
        hue-rotate(227deg) brightness(122%) contrast(100%);

    --notification-info-background: #b5b5b5;
    --notification-info-text: #0c0c08;
    --notification-info-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --notification-permanent-background: #11e18a;
    --notification-permanent-text: #0c0c08;
    --notification-permanent-filter: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    // Main nav colors

    --color-nav-background-default: transparent;
    --color-nav-txt-default: #202423;
    --color-nav-icon-filter-default: invert(9%) sepia(8%) saturate(568%)
        hue-rotate(114deg) brightness(98%) contrast(89%);

    --color-nav-background-hover: transparent;
    --color-nav-txt-hover: #12d382;
    --color-nav-icon-filter-hover: invert(70%) sepia(49%) saturate(6139%)
        hue-rotate(117deg) brightness(110%) contrast(86%);

    --color-nav-background-active: #12d382;
    --color-nav-txt-active: #ffffff; //over hover color
    --color-nav-icon-filter-active: invert(100%) sepia(6%) saturate(1546%)
        hue-rotate(227deg) brightness(122%) contrast(100%);

    --color-nav-background-disabled: transparent;
    --color-nav-txt-disabled: #e0e0e0; //over hover color
    --color-nav-icon-filter-disabled: invert(100%) sepia(20%) saturate(6237%)
        hue-rotate(317deg) brightness(107%) contrast(115%);

    // Mobile nav
    --color-mobilenav-header-background: #f5fffb;
    --color-mobilenav-header-text: #000000;
    --color-mobilenav-header-shadow: 0px 4px -2px rgb(0, 0, 0);
    --color-mobilenav-header-filter: invert(14%) sepia(17%) saturate(6056%)
        hue-rotate(175deg) brightness(97%) contrast(94%);
    --color-mobilenav-background-default: #049d5d;
    --color-mobilenav-txt-default: #f5fffb;
    --color-mobilenav-icon-filter: invert(100%) sepia(0%) saturate(5939%)
        hue-rotate(176deg) brightness(99%) contrast(113%);

    // Language nav colors

    --color-language-background-default: transparent;
    --color-language-txt-default: #7f8a99;
    --color-language-icon-filter-default: invert(0%) sepia(6%) saturate(0%)
        hue-rotate(77deg) brightness(105%) contrast(106%);

    --color-language-background-hover: #11e18a;
    --color-language-txt-hover: #202423;
    --color-language-icon-filter-hover: invert(0%) sepia(8%) saturate(7469%)
        hue-rotate(300deg) brightness(103%) contrast(110%);

    --color-language-background-active: transparent;
    --color-language-txt-active: #3db2a4; //over hover color
    --color-language-icon-filter-active: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);

    --color-language-background-disabled: transparent;
    --color-language-txt-disabled: #e0e0e0; //over hover color
    --color-language-icon-filter-disabled: invert(85%) sepia(10%) saturate(1%)
        hue-rotate(314deg) brightness(106%) contrast(91%);

    // Dropdown menus
    --color-dropdown-background-default: var(--surface-color-1);
    --color-dropdown-txt-default: #000000;
    --color-dropdown-background-hover: var(--brand-color-base);
    --color-dropdown-txt-hover: #000000;
    --color-dropdown-background-active: #08374f;
    --color-dropdown-txt-active: #ffffff;

    // Text colors & fonts

    --color-txt-primary: #202423;
    --color-txt-secondary: #799086;
    --color-txt-highlight: var(--brand-color-base);
    --color-txt-link: var(--brand-color-base);
    --color-txt-notification: #ffffff;
    --link-txt-style: underline;
    --color-txt-inverted: #0c0c08;

    --color-icon-primary: invert(11%) sepia(8%) saturate(478%)
        hue-rotate(114deg) brightness(101%) contrast(94%);

    --color-icon-link-filter: invert(70%) sepia(56%) saturate(3446%)
        hue-rotate(107deg) brightness(99%) contrast(86%);

    --color-icon-link-hover-filter: invert(54%) sepia(42%) saturate(508%)
        hue-rotate(103deg) brightness(89%) contrast(90%);
    --color-icon-link-secondary-filter: invert(44%) sepia(28%) saturate(232%)
        hue-rotate(174deg) brightness(93%) contrast(91%);
    --color-icon-link-secondary-hover-filter: invert(44%) sepia(28%)
        saturate(232%) hue-rotate(174deg) brightness(93%) contrast(91%);

    --brand-font: "Chivo", sans-serif;
    --main-font: "Open Sans", sans-serif;

    // rLogin

    --rlogin-themeswitcher-display: none;
    --rlogin-title-background-color: #1fc680;
    --rlogin-content-title-color: var(--color-txt-primary);
    --rlogin-content-background-color: var(--surface-color-2);
    --rlogin-content-shadow-inset: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --rlogin-content-border-color: var(--rlogin-title-background-color);
    --rlogin-content-txt-color: var(--color-txt-primary);
    --rlogin-provider-background-color: #e0e0c9;
    --rlogin-provider-border-color: #08374f;
    --rlogin-provider-border-shadow: 0px 0px 0px rgba(18, 18, 19, 0.1);
    --rlogin-spinner-color: var(--brand-color-base);

    --rlogin-border-radius: 4px;
    --rlogin-poweredby-color: rgb(0, 0, 0);
    --rlogin-logo-filter-color: invert(26%) sepia(90%) saturate(1895%)
        hue-rotate(225deg) brightness(0%) contrast(90%);
}
