.amountInput:focus-within {
    outline: 2px solid var(--brand-color-base);
}

/* #region AMOUNT INPUT */
.amountInput {
    display: flex;
    flex-direction: column;
    border-radius: var(--data-background-radius);
    background-color: var(--data-background-color);
    box-shadow: var(--data-shadows-inset);
    padding: 4px 7px;
    width: 318px;
}
.amountInput__infoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 5px;
    color: var(--color-txt-secondary);
    // outline: 1px dashed red;
}
.amountInput__label {
    font-weight: 600;
    font-size: 8px;
    font-family: var(--main-font);
    text-transform: uppercase;
}
.amountInput__available,
.amountInput__fiatEquivalent {
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    font-family: var(--main-font);
    letter-spacing: 0px;
    text-align: right;
}
.amountInput__fiatEquivalent {
    // color: red;
}
.amountInput__feedback {
    width: 100%;
    color: var(--color-semantic-neutral);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    font-family: var(--main-font);
    letter-spacing: 0px;
    text-align: left;
}
.amountInput__feedback--error {
    color: var(--color-semantic-negative);
}
.amountInput__feedback--correct {
    color: var(--color-semantic-positive);
}
.amountInput__inputBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    line-height: 0;
    padding-bottom: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
.amountInput__amount {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    // height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--brand-font);
    text-align: left;
}
.amountInput__value:focus-visible,
.amountInput__value {
    outline: none !important;
    box-shadow: none;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding-left: 2px;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    color: var(--color-txt-primary);
    text-align: left;
}
.amountInput__amount::placeholder {
    color: var(--color-txt-secondary);
}
.amountInput__maxButton {
    flex-shrink: 0;
    cursor: pointer;
    // margin-top: 8px;
    border: 1px solid var(--color-btn-secondary-txt-default);
    border-radius: 4px;
    background-color: var(--color-btn-secondary-background-default);
    padding-left: 1px;
    width: 38px;
    height: 17px;
    color: var(--color-btn-secondary-txt-default);
    font-weight: 700;
    font-size: 11px;
    line-height: 0px;
    font-family: var(--main-font);
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
}

.amountInput__maxButton:hover {
    border-color: var(--color-btn-secondary-txt-hover);
    color: var(--color-btn-secondary-txt-hover);
}

.amountInput {
    &__usdValue {
      font-size: 12px;
      opacity: 0.75;
      margin-top: 4px;
      line-height: 1.2;
    }
  }
  
/* #endregion AMOUNT INPUT */
