/* Wrapper for the select currency component */
.SelectCurrency {
    display: inline-block;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .token__icon {
        margin-right: 0px;
        width: 24px;
        height: 24px;
    }
}

/* Selected token display */
.selected-token {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    // border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2px 0px;
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
.icon__toggle__expand {
    margin-right: 0px;
    margin-left: auto;
    background-size: 20px;
    background-size: 20px;
    width: 20px;
    height: 20px;
}
/* Token list inside modal */
.token-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 60vh; /* Keeps the list scrollable */
    overflow-y: auto;
    // padding-right: 5px;

    .token__icon {
        margin-right: 0px;
        width: 24px;
        height: 24px;
    }
    .token__name {
    }
}

/* Individual token item inside modal */
.token-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--surface-color-3);
    padding: 10px;
    color: var(--color-text-primary);

    &:hover {
        background-color: var(--surface-color-1);
    }
    &.is-selected {
        // border: 2px solid #0056b3;
        // background: #007bff; /* Highlight color */
        // color: white;
        // font-weight: bold;
        // background-color: var(--surface-color-1);
    }
}

/* Checkmark icon */
.selected-icon {
    margin-left: auto; /* Pushes the icon to the right */
}

// A smaller modal than default since this list doesn't need a wider one
.select__token__modal {
    max-width: 368px;
    .ant-modal-content {
        // background-color: var(--surface-color-1);
    }
}
