$breakpoint-mobile: 600px;

.sectionClaim .ChartContainer {
    margin-top: 0;
}

@media (max-width: #{$breakpoint-mobile}) {
    .sectionClaim .firstCardsGroup {
        gap: var(--layout-module-gap-vertical);
    }
}
