.sectionPerformance {
    // display: flex;
    // column-gap: 32px;
    // row-gap: 24px;
}
.section__innerCard--small {
    // width: 340px;
}
.dash__perfSystemStatus {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    height: 180px;

    .card-content {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .coll-1 {
            display: flex;
            width: 50%;

            // gap: 16px;
            .stat-icon {
                display: flex;
                align-items: center;
                gap: 10px;
                opacity: 1;
                color: var(--color-txt-primary);
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                font-family: var(--brand-font);
                letter-spacing: 0px;
                text-align: left;
            }
            .stat-label {
            }

            .status-positive {
                color: var(--color-semantic-positive);
            }
            .status-neutral {
                color: var(--color-semantic-neutral);
            }
            .status-negative {
                color: var(--color-semantic-negative);
            }
            .status-lights-container {
                position: relative;
            }
            .icon-status-lights-lamp {
                position: absolute;
                left: 20px;
                z-index: 0;
                border-radius: 50%;
                width: 7px;
                height: 7px;
            }

            .icon-status-lights-status-negative {
                bottom: 31px;
                background-color: var(--color-semantic-negative);
            }
            .icon-status-lights-status-neutral {
                bottom: 20px;
                background-color: var(--color-semantic-neutral-alt);
            }
            .icon-status-lights-status-positive {
                bottom: 9px;
                background-color: var(--color-semantic-positive);
            }
            .icon-status-lights {
                z-index: 10;
            }
            .stat-text {
                color: var(--color-txt-primary);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                font-family: var(--main-font);
                letter-spacing: 0px;
                text-align: left;
            }
            .block-info {
                opacity: 1;
                // margin-left: 34px;
                color: var(--color-txt-secondary);
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                font-family: var(--main-font);
                letter-spacing: 0px;
                text-align: left;
            }
            .detailed-view a {
                color: var(--color-txt-primary);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                font-family: var(--main-font);
                letter-spacing: 0px;
                text-align: left;
            }
        }

        .coll-2 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-left: 1px solid var(--dividers);
            padding-left: 20px;
            width: 50%;

            .status-text {
                line-height: 1.2;
            }
            .aboutShowModal__button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                border: none;
                background-color: transparent;
                .buttonArrow {
                    filter: var(--color-icon-link-filter);
                }
                .buttonText {
                    color: var(--color-txt-link);
                    font-weight: 600;
                }
            }
            @media (max-width: 768px) {
                border-left: none;
                padding-left: 0px;
            }
        }
    }
    @media (max-width: 768px) {
        height: auto;
        .card-content {
            flex-direction: column;
            gap: 24px;
            width: 100%;
            .coll-1,
            .coll-2 {
                width: 100%;
            }
        }
    }
}

.dash__perfTVL {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    height: 180px;
    .card-content {
        .big-number {
            color: var(--color-txt-primary);
            font-weight: 700;
            font-size: 40px;
            font-family: var(--brand-font);
            letter-spacing: 0px;
            text-align: left;
            @media (max-width: 768px) {
                font-size: 32px;
            }
        }
        .caption {
            color: var(--color-txt-secondary);
            font-weight: 700;
            font-size: 10px;
            line-height: 0px;
            font-family: var(--main-font);
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
        }
    }
}
.dash__perfLeveraged {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    height: 274px;
    @media (max-width: 768px) {
        height: 100%;
    }
    .token__name {
        color: var(--color-txt-primary);
        font-weight: 700;
        font-size: 20px;
        font-family: var(--brand-font);
    }
    .card-content {
        display: flex;
        row-gap: 32px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 64px;

        .amount {
            width: 241px;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            font-family: var(--brand-font);
            letter-spacing: 0px;
            text-align: left;
        }

        .caption {
            color: var(--color-txt-secondary);
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            font-family: var(--main-font);
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
        }

        .row-1 {
            display: flex;
            flex-direction: row;
            gap: 0px;

            .coll-1 {
                width: 50%;
            }

            .coll-2 {
                padding-left: 0px;
                width: 50%;
            }
        }

        .row-2 {
            display: flex;
            flex-direction: row;
            gap: 0px;
            margin-top: 25px;

            .coll-1 {
                padding-left: 0px;
                width: 50%;
            }

            .coll-2 {
                padding-left: 0px;
                width: 50%;
            }
        }
    }
}

.token-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    th {
        border-bottom: 1px solid gray;
    }
    .token-table__cell,
    .token-table__header {
        padding: 8px 16px;
        // outline: 1px solid gray;
    }

    .token-table__cell:first-child,
    .token-table__header:first-child {
        padding-left: 0;
    }

    .token-table__cell:last-child,
    .token-table__header:last-child {
        padding-right: 0;
    }
    // Cells
    .token-table__cell--name,
    .token-table__header--name {
        text-align: left;
        // width: 300px;
    }
    .token-table__cell--price,
    .token-table__header--price {
        width: 170px;
        text-align: right;
    }
    .token-table__cell--ema,
    .token-table__header--ema {
        width: 130px;
        text-align: right;
    }
    .token-table__cell--minted,
    .token-table__header--minted {
        width: 170px;
        text-align: right;
    }
    .token-table__cell--mintable,
    .token-table__header--mintable {
        width: 170px;
        text-align: right;
    }
    .token-table__cell--redeem,
    .token-table__header--redeem {
        width: 170px;
        text-align: right;
    }
    .token-table__cell--coverage,
    .token-table__header--coverage {
        width: 120px;
        text-align: right;
    }
}

.perfGlobalMetrics {
    .metrics {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 32px;
    }
    .dataGroup {
        display: flex;
        gap: 8px;
        min-width: 256px;
        // outline: 1px dashed green;
    }
    .icon__back {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--icon-background-radius);
        background-color: var(--icon-background-color);
        width: 48px;
        height: 48px;
    }
    .perfGlobalMetrics {
        .metrics {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            margin-top: 32px;
        }
        .dataGroup {
            display: flex;
            gap: 16px;
            min-width: 256px;
        }
        .icon__back {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--icon-background-radius);
            background-color: var(--icon-background-color);
            width: 48px;
            height: 48px;
        }
        .amount {
            display: flex;
            align-items: center;
            width: 115px;
            height: 29px;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
            font-family: var(--brand-font);
        }
        .label {
            color: var(--color-txt-secondary);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            font-family: var(--main-font);
        }
        .buckets {
            margin-top: 40px;
        }
    }

    .amount {
        display: flex;
        align-items: center;
        width: 115px;
        height: 29px;
        color: var(--color-txt-primary);
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        font-family: var(--brand-font);
    }
    .label {
        color: var(--color-txt-secondary);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: var(--main-font);
    }
    .buckets {
        margin-top: 40px;
    }
}

.dash__perfCollateral {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    height: 274px;
    .card-content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .amount {
            width: 241px;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            font-family: var(--brand-font);
            letter-spacing: 0px;
            text-align: left;
        }
        .caption {
            color: var(--color-txt-secondary);
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 16px;
            font-family: var(--main-font);
            letter-spacing: 0.5px;
            text-align: left;
            text-transform: uppercase;
        }
        .dash__perfCollateral__dash {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .row-1 {
            display: flex;
            flex-direction: row;
            gap: 0px;

            .coll-1 {
                width: 50%;
            }

            .coll-2 {
                padding-left: 20px;
                width: 50%;
            }
        }
        .row-2 {
            margin-top: 20px;
            border-top: 1px solid var(--dividers);
            padding-top: 14px;

            .list-tokens {
                .token {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--color-txt-primary);
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    font-family: var(--main-font);
                    letter-spacing: 0px;
                    text-align: left;
                }

                .amount-token {
                    color: var(--color-txt-secondary);
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    font-family: var(--brand-font);
                    letter-spacing: 0px;
                    text-align: right;
                }
                .row-token {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    margin-top: 10px;
                    .coll-1 {
                        width: 50%;
                    }
                    .coll-2 {
                        padding-left: 20px;
                        width: 50%;
                    }
                }
            }
        }
    }
}
.dash__perfPegged {
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
    height: 274px;
    .ant-table-body .ant-table-cell {
        border-color: transparent !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    td.ant-table-cell:first-of-type {
        padding-top: 16px;
        padding-left: 4px;
    }
    .ant-table-row {
    }
}
.detailedGlobalStatusModal {
    .collateralContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        max-height: 68vh;
        overflow: scroll;
    }

    .collateralStatusCard {
        flex: 1 1 calc(50% - 8px);
        max-width: calc(50% - 8px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid var(--dividers);
        border-radius: var(--modals-border-radius);
        background-color: var(--surface-color-2);
        padding: 16px;
        color: var(--color-txt-secondary);
        font-weight: 600;
    }

    .collateralTitle {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-txt-secondary);
        font-weight: 600;
        font-size: 14px;
    }

    .collateralDetails {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .collateralSummary {
        color: var(--color-txt-inverted);
        font-weight: 600;
        font-size: 14px;
        width: 100%;
        text-align: center;
        border-radius: var(--card-border-radius);
        &.positive {
            background-color: var(--color-semantic-positive);
        }

        &.neutral {
            background-color: var(--color-semantic-neutral);
        }

        &.negative {
            background-color: var(--color-semantic-negative);
        }
    }

    .operationTableHeader,
    .operationTableRow {
        display: flex;
        align-items: center;
        padding: 4px 0;
    }

    .operationTableHeader {
        font-weight: bold;
        border-bottom: 1px solid var(--dividers);
        margin-bottom: 6px;
    }

    .operationCol {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .tokenCol {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .tokenIconName {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-txt-primary);
    }

    .tokenLabel {
        font-weight: 500;
    }

    .icon-status-success,
    .icon-status-alert {
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
    }

    .cta {
        margin-top: 32px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .detailedGlobalStatusModal {
        .collateralStatusCard {
            max-width: 100%;
            flex: 1 1 100%;
        }
    }
}
