// Variables
$breakpoint-mobile: 600px;

html {
    scrollbar-color: var(--color-controls-foreground-on) transparent;
    // Scrollbars customization for Firefox
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}

html {
    /* For browsers that support scrollbar-color */
    scrollbar-color: var(--color-controls-foreground-on) transparent;
    scrollbar-width: thin; /* For Firefox */
}

@supports (scrollbar-gutter: stable) {
    html {
        /* Ensures consistent scrollbar gutter spacing in supported browsers */
        scrollbar-gutter: stable; /* Avoids 'both-edges' to prevent extra margins */
    }
}

/* Custom styles for Chrome and other WebKit-based browsers */
html::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the vertical scrollbar */
    height: 8px; /* Adjust the height of the horizontal scrollbar */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-controls-foreground-on); /* Thumb color */
    border-radius: 4px; /* Optional: make the scrollbar thumb rounded */
}

html::-webkit-scrollbar-track {
    background: transparent; /* Track background */
}

/* Prevent any unexpected left margin in Chrome */
html {
    margin-left: 0; /* Ensures no additional margin is added */
}

/*
    --- rLOGIN ---
*/

.rlogin-modal-container {
    // Hide theme switcher
    .rlogin-modal-close-button {
        display: none;
    }

    .rlogin-modal-lightbox {
        backdrop-filter: blur(5px) !important;
    }

    #theme-switcher {
        display: var(--rlogin-themeswitcher-display) !important;
    }

    // Title bar (powerded by + RIF logo)
    .rlogin-modal-header {
        border-radius: var(--rlogin-border-radius) var(--rlogin-border-radius) 0
            0 !important;
        background-color: var(--rlogin-title-background-color) !important;

        .sc-jJEKmz.jtUgPh {
            color: var(--rlogin-poweredby-color);
        }
        .sc-hiSbEG.fFKpiV,
        .sc-eBMEME,
        .gKVFYd {
            filter: var(--rlogin-logo-filter-color) !important;
        }
    }

    // Provider buttons
    .rlogin-provider-container {
        box-shadow: var(--rlogin-provider-border-shadow);
        background-color: var(--rlogin-provider-background-color) !important;
    }

    .rlogin-header3 {
        color: var(--rlogin-content-txt-color) !important;
        font-weight: 600 !important;
        font-family: var(--main-font) !important;
    }
    // display none to avoid an extra gap when div is empty
    // ONLY if there is NO custodial wallet support
    .rlogin-providers-custodial {
        display: none;
    }

    // Language dropdown
    #languages {
        background-color: transparent !important;
    }

    // Content card
    .rlogin-modal-card {
        backdrop-filter: blur(10px);
        border-radius: var(--rlogin-border-radius) !important;
        background-color: var(--rlogin-content-background-color) !important;

        // Title
        .rlogin-header2 {
            margin: 24px 0 24px 0;
            color: var(--rlogin-content-title-color) !important;
            font-weight: 600 !important;
            font-family: var(--brand-font) !important;
        }
    }

    .rlogin-modal-body {
        box-shadow: var(--rlogin-content-shadow-inset) !important;
        border: 4px solid var(--rlogin-content-border-color) !important;
        border-radius: 0 0 var(--rlogin-border-radius)
            var(--rlogin-border-radius) !important;
    }

    .cUGxCk {
        color: var(--rlogin-spinner-color) !important;
    }

    .sc-hmdomO,
    .eakXkU {
        box-shadow: var(--rlogin-provider-border-shadow);
        background-color: var(--rlogin-provider-background-color) !important;
        .icon {
            width: 0;
        }
    }

    button {
        /*background-color: red;*/
    }

    .rlogin-button {
        transition:
            background-color 0.3s,
            color 0.3s,
            border-color 0.3s;
        cursor: pointer;
        box-shadow: var(--color-btn-primary-background-default-shadow);
        border-width: 0px;
        border-color: var(--color-btn-primary-txt-default);
        border-radius: var(--btn-radius);
        background-color: var(
            --color-btn-primary-background-default
        ) !important;
        // width: var(--btn-width);
        // height: var(--btn-height);
        color: var(--color-btn-primary-txt-default);
        font-weight: 700;
        font-size: 18px;
        font-family: var(--main-font);
        text-align: center;
    }

    .rlogin-button:hover {
        box-shadow: none;
        background-color: var(
            --color-btn-primary-background-disabled
        ) !important;
        color: var(--color-btn-primary-txt-disabled) !important;
    }

    .rlogin-button:hover,
    .rlogin-button:focus {
        border-color: var(--color-btn-primary-txt-hover) !important;
        background: var(--color-btn-primary-background-hover) !important;
        color: var(--color-btn-primary-txt-hover) !important;
    }
    .cancel {
        box-shadow: var(--color-btn-secondary-background-default-shadow);
        border: 2px solid var(--color-btn-secondary-txt-default);
        background-color: var(
            --color-btn-secondary-background-default
        ) !important;
        color: var(--color-btn-secondary-txt-default);
    }

    .kRsGLN {
        // Wallet list row active/hover
        background-color: var(--color-btn-primary-background-active) !important;
        color: var(--color-btn-primary-txt-active);
    }
    .PSDUo:hover {
        // Wallet list row hover (different class than active)

        background-color: var(--color-btn-primary-background-hover) !important;
        color: var(--color-btn-primary-txt-active) !important;
    }

    .jfpzdm {
        // Wallet list pagination buttons
        margin-right: 8px;
        margin-left: 8px;
        border: 2px solid var(--color-btn-secondary-txt-default);
        background-color: var(
            --color-btn-secondary-background-default
        ) !important;
        color: var(--color-btn-secondary-txt-default);
        &:hover {
            border-color: var(--color-btn-secondary-txt-hover);
            color: var(--color-btn-secondary-txt-hover);
        }
    }
}

/*
    --- Last Operations Table ---
*/

.last-operations-table {
    .ant-table-tbody > tr > td {
        border-bottom: none !important;
        padding: 10px 0px !important;
    }
}

.NotificationMigration {
    border-radius: var(--card-border-radius);
}

.input-amount-container {
}

.SelectCurrency {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ant-select {
        width: 100%;
    }

    .ant-select-selection-item {
        display: flex;
        height: 100%;
    }
    .ant-select-selector {
        border-radius: 0 !important;
        padding-left: 0px !important;
        height: 48px !important;
    }
    &.disabled {
        cursor: not-allowed;
        .ant-select-selection-item {
            position: absolute;
            right: 10px;
            padding-right: 0;
        }
        .ant-select-arrow {
            display: none;
        }
    }
    .ant-select-arrow {
        color: var(--color-controls-foreground-on) !important;
        font-weight: 700;
    }
}

.ant-select-selector {
    border: none !important;
    background-color: transparent !important;
    padding: 0;
    color: var(--color-txt-primary) !important;
}

.tokens-list-table {
    .ant-table-tbody > tr > td {
        border-bottom: none !important;
        padding: 10px 0px !important;
    }
}

/*
    --- Staking ---
*/

.Staking {
    .input-amount-container {
        .max-button {
            cursor: pointer;
            margin-bottom: 3px;
            margin-left: 15px;
            border: 1px solid var(--color-btn-secondary-txt-default);
            border-radius: 4px;
            background-color: transparent; /* Ajusta según sea necesario */
            padding-left: 5px;
            width: 39px;
            height: 17px;
            color: var(--color-btn-secondary-txt-default);
            font-weight: 800;
            font-size: 11px;
            line-height: 0px;
            font-family: var(--main-font);
            letter-spacing: 0.2px;
            text-align: center;
        }

        .max-button:hover {
            border-color: var(--color-btn-secondary-txt-hover);
            color: var(--color-btn-secondary-txt-hover);
        }
    }
}

/* #section ACCOUNT MODAL */
.ModalAccount {
    width: 625px !important;
    .ant-modal-content {
    }
    .ant-modal-body {
        width: 100%;
    }
    .wallet__columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .tx-id-address {
            flex-direction: row;
            width: 100%;
        }
    }
    .switch__vesting {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        p {
            margin-bottom: 0;
        }
    }
    .ant-switch-checked {
        background-color: var(--color-controls-background);
    }
    .ant-switch {
        background-color: var(--color-controls-background);
        .ant-switch-handle::before {
            background-color: var(--color-controls-foreground-off);
        }
    }
    .ant-switch-checked {
        .ant-switch-handle::before {
            background-color: var(--color-controls-active);
        }
    }
    .ant-switch:focus {
        box-shadow: none;
    }
    .wallet__vesting__options {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid var(--dividers);
        border-radius: var(--card-border-radius);
        padding: 16px 32px;
        color: var(--color-txt-primary);
        .wallet__vesting__address__label {
        }
        .ant-select-arrow {
            color: var(--color-controls-foreground-on);
        }
        .wallet__vesting__address__dropdown {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            width: 100%;
            color: var(--color-dropdown-txt-default) !important;

            .ant-select-selector {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                color: var(--color-dropdown-txt-default) !important;
            }
        }

        .wallet__vesting__address__input,
        input {
            border: none;
            background-color: var(--color-controls-background);
            width: 100%;
            height: 46px;
            color: var(--color-txt-primary);
        }
        .wallet__vesting__address__input:focus {
            box-shadow: none;
        }
        .wallet__vesting__address__selector {
            background-color: var(--color-controls-background);
            width: 100%;
            height: 46px;
        }
    }
    .wallet__vesting__options__cta {
        display: flex;
        flex-direction: column;
    }
    .wallet__vesting__options__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 32px;
        width: 100%;
        .button__small {
            box-shadow: none;
            border-width: 1px;
            border-radius: var(--btn-radius-tiny);
            padding-right: 32px;
            padding-left: 32px;
            width: auto;
            height: 22px;
            font-size: 12px;
            line-height: 1;
        }
    }
    .wallet__vesting__options__explanation {
        color: var(--color-txt-secondary);
        font-size: 12px;
        line-height: 1.2;
    }
}

/* #endsection ACCOUNT MODAL */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

// Variables
$breakpoint-mobile: 600px;

/* #region GENERAL STYLING*/
* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin-bottom: 20px;
    color: var(--color-txt-primary);
    font-style: normal;
    font-weight: 600;
    font-family: var(--brand-font);
    letter-spacing: 0px;
    text-align: left;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}
.section-container {
    margin-top: 24px;
}
.mobile-only {
    display: none !important;
}
.desktop-only {
    display: block !important;
}
.ShowTokenMigration {
    margin-top: 24px;
}
/* #endregion GENERAL STYLING*/

/* #region ANT DESIGN CUSTOMIZATION */

.ant-modal-close-x {
    color: var(--color-txt-primary) !important;
    font-size: 21px !important;
}

.ant-modal-title,
.ant-modal-close {
    color: white !important;
    text-align: center;
}
.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    width: 1184px;
    min-height: 100vh !important; // Avoid background to be smaller than browser height
}
.ant-layout-content {
    flex: auto;
    min-height: 0;
}
.ant-layout-header {
    margin-top: 32px;
    background-color: transparent;
    padding: 0;
    height: 80px;
    color: var(--color-txt-primary);
    line-height: 0;
}
.ant-layout-footer {
    background-color: transparent;
    padding: 24px 50px;
    font-size: 14px;
}
.ant-modal-content {
    padding: var(--card-padding) !important;
}
.ant-modal-header {
    margin-bottom: 32px;
    border-bottom: 0 !important;
    background-color: transparent !important;
    padding: 0px;
    padding: 0px !important;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}
.ant-modal-title {
    font-weight: 600;
    font-size: 19px;
}
.ant-modal-body {
    padding: 0px;
}
.ant-modal-title {
    color: var(--color-txt-primary) !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: var(--brand-font);
    letter-spacing: 0px;
    text-align: left;
}
.ant-table-cell-row-hover {
    // Set default hover for table-cell-row-hover to transparent
    background-color: transparent !important;
}
.ant-pagination {
    a {
        color: var(--color-txt-primary) !important;
    }
    svg {
        filter: var(--color-icon-link-secondary-filter);
        color: black; //Important to force black color for SVG before applying filter
    }
}

.ShowModalConfirmOperation {
    width: 100%;
    text-align: center;
}

// Modal background backdrop color & blur settings
.ant-modal-wrap {
    background-color: var(--modals-backdrop-color) !important;
}
.ant-modal-mask {
    backdrop-filter: blur(var(--modals-backdrop-blur)) !important;
}
.ant-modal-content {
    -webkit-box-shadow: 8px 8px 7px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 8px 8px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 7px -3px rgba(0, 0, 0, 0.3);
}

// Dropdown menus
.ant-select-dropdown {
    background-color: var(--color-controls-background);
    color: var(--color-controls-foreground-on);

    .ant-select-item-option {
        // default color
        background-color: var(--color-dropdown-backround-default);
        color: var(--color-dropdown-txt-default);
    }
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        // Hover
        background-color: var(--color-dropdown-background-hover);
        color: var(--color-dropdown-txt-hover);
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        // Active
        background-color: var(--color-dropdown-background-active);
        color: var(--color-dropdown-txt-active);
    }
}
// .ant-select-item-option-active {
//     background-color: var(--color-btn-primary-background-active) !important;
// }
.ant-select-item-option-active > div > div > div:nth-child(2),
.ant-select-item-option-active > div > div > div:nth-child(3) {
    // Hover
    color: var(--color-dropdown-txt-hover) !important;
}
// .ant-select-item-option-selected {
//     background-color: var(
//         --color-btn-secondary-background-active
//     ) !important;
// }
.ant-select-item-option-selected > div > div > div:nth-child(2),
.ant-select-item-option-selected > div > div > div:nth-child(3) {
    // Active text color
    color: var(--color-dropdown-txt-active) !important;
}

.ant-select-dropdown .ant-select-item-option-content {
    display: flex;
    align-items: center;
}
// Radio Buttons
.ant-radio-inner::after {
    background-color: var(--color-controls-foreground-on) !important;
}

/* Fix Scrollbars in Chrome */
.ant-table-body::-webkit-scrollbar {
    width: 6px;
}
.ant-table-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.ant-table-body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(201, 214, 255, 0.24);
}
/* #endregion ANT DESIGN CUSTOMIZATION */

/* #region ANT TABLES GENERAL SETTINGS */
// Ant Table general settings
.ant-table {
    margin-bottom: 32px;
}
.ant-table-thead > tr > th {
    background-color: transparent;
    padding: 3px 8px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--main-font);
}
.ant-table {
    background-color: transparent;
    color: var(--color-txt-primary);
    font-style: normal;
    font-style: SemiBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--main-font);
    letter-spacing: 0.61px;
}
.ant-table-thead .ant-table-cell {
    border-bottom: 1px solid var(--dividers) !important;
    color: var(--color-txt-secondary);
    font-style: Bold;
    font-weight: 700;
    font-size: 16px;
}
.ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0;
}
.ant-table-cell::before {
    visibility: hidden;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
}
.custom-table-light .ant-table-expanded-row > td,
.custom-table-light .ant-table-expanded-row:hover > td {
    box-shadow: var(--surface-shadow-inset);
    background: var(--surface-color-inset) !important;
}
.table-expanded-row {
    margin: 0px 8px;
    box-shadow: var(--surface-shadow-inset);
    background-color: var(--surface-color-inset);
    padding: var(--card-padding);
}
.dashboard-portfolio .ant-table-header {
    margin-left: 7px;
}
.ant-radio-checked .ant-radio-inner {
    border-color: var(--color-controls-foreground-on) !important;
}
.ant-radio-disabled .ant-radio-inner {
    border-color: var(--color-controls-foreground-disabled) !important;
    background-color: var(--color-controls-disabled) !important;
}
.ant-table-thead .ant-table-cell-scrollbar {
    display: none;
}
/* #endregion ANT TABLES GENERAL SETTINGS */

/* #region CARDS */
.layout-card {
    box-shadow: var(--surface-shadow-1);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: var(--card-padding);
}
.layout-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.section {
    display: flex;
    column-gap: 32px;
    row-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--color-txt-primary);
    font-family: var(--main-font);
}
.section__innerCard--small {
    width: 576px;
    border: var(--card-border);
}
.section__innerCard--big {
    width: 100%;
    border: var(--card-border);
}
.layout__group {
    width: 100%;
}
/* #endregion CARDS */

/* #region MODAL GENERIC CUSTOMIZATION */
.ant-modal-content,
.modal-container {
    border: 0px !important;
    border-radius: var(--modals-border-radius);
    background-color: var(--surface-color-3);
    padding: var(--modals-padding);
    font-family: var(--main-font);
    h1 {
        margin-bottom: 20px;
        color: var(--color-txt-primary);
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        font-family: var(--brand-font);
        letter-spacing: 0px;
        text-align: left;
    }

    p {
        color: var(--color-txt-primary);
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .remember-this {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 30px;
        padding: var(--modals-padding);
        width: 424px;
        height: 32px;

        .check-unlimited {
            height: 17px;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
        .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
        }
        .ant-checkbox-wrapper > :nth-child(2) {
            padding-top: 6px;
        }
    }

    .ant-checkbox-inner {
        border: 1px solid var(--color-controls-foreground-on);
        background-color: var(--color-controls-background);
        // Inner square
        width: 24px;
        height: 24px;
    }

    .ant-checkbox-inner:after {
        stroke-linecap: round;
        position: absolute;
        top: -1px;
        transform: rotateZ(40deg);
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 3px;
        border-width: 0 2px 2px 0;
        // Checkmark
        border-color: var(--color-controls-foreground-on);
        width: 6px;
        height: 16px;
    }

    .option-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 30px;
        padding: 0px;
        padding: var(--modals-padding);
        width: 424px;
        height: 32px;

        .check-unlimited {
            height: 17px;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
        .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
        }
        .ant-checkbox-wrapper > :nth-child(2) {
            padding-top: 6px;
        }
    }

    .tx-data-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 100%;
    }
    .tx-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        width: 100%;
        max-width: 368px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        font-family: var(--brand-font);
        .amount {
            color: var(--color-txt-primary);
        }
        .token {
            color: var(--color-txt-secondary);
        }
    }
    .tx-info-container {
        .tx-info {
            color: var(--color-txt-primary);
        }
    }

    .tx-options-container {
        .tx-option {
        }
    }
    .status-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 100%;
    }
    .tx-logo-status {
        width: 32px;
        height: 32px;
    }

    .address-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 16px;
        width: 100%;

        a {
            color: (var(--color-txt-link));
            text-decoration: underline;
        }
    }
    .icon {
        color: (var(--color-txt-secondary));
    }

    .tx-options-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0px;
        width: 424px;
        height: 32px;
        .check-unlimited {
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
/* #endregion MODAL GENERIC CUSTOMIZATION */

/* #region CTA - CALL TO ACTION */
.cta-container {
    // CTA container
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
    width: 100%;
    .cta-info-group {
        // Stacks Summary + info items vertically
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
        width: 100%;
        color: var(--color-txt-secondary);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        font-family: var(--main-font);
        text-align: left;
    }
    .cta-info-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;
        color: var(--color-txt-highlight);
        font-weight: 700;
        font-size: 16px;
        font-family: var(--brand-font);
    }
    .cta-info-detail {
        color: var(--color-txt-primary);
    }
    .cta-options-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
    }
}
/* #endregion CTA - CALL TO ACTION */

/* #region UI ELEMENTS */
.divider-horizontal {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--dividers);
    width: 100%;
    height: 1px;
}

.divider-vertical {
    margin-right: 8px;
    margin-left: 8px;
    border: 1px solid var(--dividers);
    width: 1px;
    height: 100%;
}

/* #endregion UI ELEMENTS */

/* #region CUSTOM NOTIFICATION BANNERS */
.ant-notification-notice {
    height: auto !important;
}
.ant-notification {
    width: 332px;
    max-width: 100%;
    height: 300px;
    margin-right: 56px;

    .ant-notification-notice-content {
        max-width: 100% !important;
        margin-right: 32px;
        padding: 8px;
    }
    .ant-notification-notice-closable {
        // padding-right: 60px !important;
    }
    .notification {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        border-radius: var(--card-border-radius);
        padding: 8px 16px;
        height: 58px;
        color: var(--notification-permanent-text);
        width: 100%;

        @media (max-width: $breakpoint-mobile) {
            .vesting {
                width: 100%;

                .vesting-content {
                    width: 100%;
                    h2 {
                        width: 100%;
                    }
                }
            }
        }
    }

    .type-temporal {
        background-color: var(--notification-permanent-background);
    }
    .type-success {
        background-color: var(--notification-success-background);
    }
    .ant-notification-notice {
        width: 100%;
        border-radius: var(--card-border-radius);
    }
    .ant-notification-notice-content {
        max-width: 100%;
    }
    .ant-notification-notice-message {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        font-family: var(--brand-font);
        color: var(--notification-permanent-text);
    }
    .ant-notification-notice-description {
        font-size: 14px;
        line-height: 1.2;
        font-family: var(--main-font);
        width: 100%;
        text-wrap: wrap;
        word-break: break-all;
    }
    .ant-notification-notice-close {
        filter: var(--notification-permanent-filter);
        // margin-right: 16px;
        background-size: cover;
        background-repeat: none;
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
    }
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: var(--card-border-radius);
    background-color: var(--notification-info-background);
    width: 100%;
    color: var(--notification-permanent-text);

    .anticon {
        width: 24px;
        height: 24px;
        margin: 16px;
    }
    .ant-alert-message {
        color: var(--notification-permanent-text);
        font-weight: 600;
        font-size: 16px;
        font-family: var(--brand-font);
        padding-left: 8px;
    }
    .ant-alert-content {
        max-width: 100%;
    }
    .alert__message {
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .alert__title {
            font-weight: 600;
            margin-bottom: 8px;
        }
        .alert__text {
            font-weight: 400;
        }
        .alert__label {
            font-weight: 600;
        }
        .alert__address {
            font-weight: 400;
        }
    }
    .alert__switch {
        display: flex;
        flex-direction: row;
        gap: 8px;
        .alert__switch__label {
            font-weight: 600;
        }
    }
    button {
        border: none;
        background-color: transparent;
        margin-top: 16px;
        margin-bottom: 16px;
        span {
            font-weight: 600;
            font-size: 14px;
            text-decoration: underline;
        }
    }
    .button--small {
        box-shadow: none;
        border: 1px solid var(--color-btn-primary-txt-default);
        border-radius: var(--btn-radius-tiny);
        // background-color: var(--color-btn-primary-txt-default);
        color: var(--color-btn-primary-txt-default);
        padding-right: 16px;
        padding-left: 16px;
        width: auto;
        height: 22px;
        font-size: 12px;
        line-height: 1;
    }
    button:hover,
    button:focus,
    button:active {
        color: var(--color-btn-primary-txt-default);
        background-color: var(--color-btn-primary-background-default);
        outline: 2px solid;
    }
    .address {
        margin-bottom: 16px;
        font-weight: 600;
    }
}

.alert-success {
    background-color: var(--color-semantic-positive);
    > .anticon {
        background-image: url("../icons/NotificationSuccessOutline.svg");
        svg {
            display: none;
        }
    }
}
.alert-info {
    background-color: var(--notification-permanent-background);
    > .anticon {
        background-image: url("../icons/NotificationInformationOutline.svg");
        svg {
            display: none;
        }
    }
}
.alert-warning {
    background-color: var(--color-semantic-neutral);
    > .anticon {
        background-image: url("../icons/NotificationWarningOutline.svg");
        svg {
            display: none;
        }
    }
}
.alert-error {
    background-color: var(--color-semantic-negative);
    > .anticon {
        background-image: url("../icons/NotificationErrorOutline.svg");
        svg {
            display: none;
        }
    }
}

.ant-btn-custom {
    border: 1px solid var(--brand-color-overbrand);
    border-radius: var(--btn-radius-small);
    background-color: transparent;
    padding: 2px 16px 3px 16px;
    height: 32px;
    color: var(--brand-color-overbrand);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    font-family: var(--main-font);
}

.ant-btn-custom:hover {
    // background-color: orange;
}

.ant-alert-close-icon {
    border: none;
    background-image: url("../icons/CloseOutline.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    svg {
        display: none;
    }
    .alert-permanent {
        background-color: var(--notification-permanent-background);
        > .anticon {
            background-image: url("../icons/NotificationWarningOutline.svg");
            svg {
                display: none;
            }
        }
    }
}
/* #endregion CUSTOM NOTIFICATION BANNERS */

/* #region BUTTONS */
.button {
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s;
    cursor: pointer;
    box-shadow: var(--color-btn-primary-background-default-shadow);
    border-width: 0px;
    border-color: var(--color-btn-primary-txt-default);
    border-radius: var(--btn-radius);
    background-color: var(--color-btn-primary-background-default);
    width: var(--btn-width);
    height: var(--btn-height);
    color: var(--color-btn-primary-txt-default);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font);
    text-align: center;
}
.button:disabled,
.button:disabled:hover {
    box-shadow: none;
    background-color: var(--color-btn-primary-background-disabled);
    color: var(--color-btn-primary-txt-disabled);
    .icon {
        filter: var(--color-btn-primary-filter-disabled);
    }
}

.button:hover,
.button:focus {
    border-color: var(--color-btn-primary-txt-hover);
    background: var(--color-btn-primary-background-hover);
    color: var(--color-btn-primary-txt-hover);
    .icon {
        filter: var(--color-btn-primary-filter-hover);
    }
}

.secondary {
    box-shadow: var(--color-btn-secondary-background-default-shadow);
    border: 2px solid var(--color-btn-secondary-txt-default);
    background-color: var(--color-btn-secondary-background-default);
    color: var(--color-btn-secondary-txt-default);
}
.secondary:hover,
.secondary:focus {
    border-color: var(--color-btn-secondary-txt-hover);
    background: var(--color-btn-primary-secondary-hover);
    color: var(--color-btn-secondary-txt-hover);
}

.buttonSwap {
    .icon-swap {
        filter: var(--color-icon-link-filter);
    }
}
.buttonSwap:hover {
    .icon-swap {
        filter: var(--color-icon-link-hover-filter);
        cursor: pointer;
    }
}

.button--small {
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s;
    cursor: pointer;
    border: 2px solid var(--color-btn-secondary-txt-default);
    border-color: var(--color-btn-secondary-txt-default);
    border-radius: var(--btn-radius);
    background-color: var(--color-btn-secondary-background-default);
    padding: 0px var(--btn-small-padding) 1px var(--btn-small-padding);
    height: var(--btn-small-height);
    color: var(--color-btn-secondary-txt-default);
    font-weight: 700;
    font-size: 14px;
    font-family: var(--main-font);
    text-align: center;
}

.button--small:hover,
.button--small:focus {
    border-color: var(--color-btn-secondary-txt-hover);
    background: var(--color-btn-primary-secondary-hover);
    color: var(--color-btn-secondary-txt-hover);
}

/* #endregion BUTTONS */

/* #region CUSTOMIZE PRICE VARIATION TOLERANCE */
.customize-tolerance {
    .CollapseTolerance {
        .ant-collapse-content {
            border-top: 0px;
            background-color: var(--surface-color-1);
        }

        .PriceVariationContainer {
            .warningSlider {
                color: var(--color-txt-primary);
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                font-family: var(--main-font);
                letter-spacing: 0px;
                text-align: left;
            }

            .ant-slider {
                height: 8px !important;

                .ant-slider-rail {
                    background-color: var(--color-controls-background);
                }

                .ant-slider-handle {
                    border: solid 2px var(--color-controls-foreground-on);
                    background-color: var(--color-controls-foreground-on);
                }
                .ant-slider-track {
                    background-color: var(--color-controls-foreground-on);
                }

                .ant-slider-dot-active {
                    border-color: var(--color-controls-foreground-on);
                    background-color: var(--color-controls-foreground-on);
                }

                .ant-slider-mark-text,
                .ant-slider-mark-txt-active {
                    color: var(--color-controls-foreground-on) !important;
                }
            }
        }

        .PriceVariationSetting {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .SliderText {
                margin-left: 8px;
                color: var(--color-txt-primary);
            }
        }
    }

    .ant-collapse {
        border: none;
        background-color: transparent;
    }
    .ant-collapse > .ant-collapse-item {
        border-bottom: none;
    }
}
/* #endregion CUSTOMIZE PRICE VARIATION TOLERANCE */

/* #region AMOUNT TOKEN INPUT */
.amountTokenInput {
    // border: var(--debugBorder);
    // background-color: var(--debugColor);
}
/* #endregion AMOUNT TOKEN INPUT */

/* #region TOKEN SELECTOR */
.inputFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 318px;
    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }
}
.tokenSelector {
    display: flex;
    flex: none;
    flex-grow: 0;
    flex-direction: column;
    align-items: flex-start;
    order: 0;
    gap: 8px;
    padding: 0px;
    width: 318px;
    height: 108px;
}
.tokenSelector__token {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px; /* identical to box height */

    font-family: var(--brand-font);
}

.tokenSelector__toggle {
}
.select-token {
}
/* #endregion TOKEN SELECTOR */

/* #region TRANSACTION INFORMATION */
.tx-amount-group {
    // Stacks all the groups of information vertically
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--card-border-radius);
    gap: 2px;
    width: 100%;
    // padding: 32px;
}

.tx-amount-info {
    // Optional information below an Amount + Token line
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: var(--color-txt-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    font-family: var(--main-font);
    text-align: left;
}

.tx-fees-container {
    // Container for the fees information
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;

    .tx-fees-data {
        // Stacks all the Fees data + Fees info vertically
    }
    .tx-fees-item {
        // For each fee data
        color: var(--color-txt-primary);
    }
    .tx-fees-info {
        // For information about the fees
        margin-top: 4px;
        color: var(--color-txt-secondary);
    }
}
.tx-id-container {
    // Transaction ID link container in cased some extra information is addded in the future
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 364px;
    .tx-id-data {
        // Label + address = copy icon
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 100%;
        .tx-id-label {
            // width: 100%;
            // Transaction ID text/label
            color: (var(--color-txt-primary));
            margin-right: 16px;
        }
        .tx-id-address {
            // Container that uses CopyAddress address + copy icon
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 8px;
            // width: 100%;
            color: var(--color-txt-link);
            font-weight: 600;
            font-family: var(--main-font);
            text-decoration: underline;
        }
    }
}

.tx-amount-container {
    // One item containing Amount + Token, plus optional extra information below
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 1 solid var(--dividers);
    padding-bottom: 8px;
    width: 100%;
    max-width: 368px;

    .tx-amount-data {
        // Amount + Token in one line
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--data-background-radius);
        background-color: var(--data-background-color);
        padding: var(--data-background-padding);
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        font-family: var(--brand-font);
        .tx-amount {
            color: var(--color-txt-primary);
            text-align: left;
        }
        .tx-token {
            width: 100%;
            color: var(--color-txt-secondary);
            text-align: right;
        }
    }
    .tx-amount-info {
        // Optional information below an Amount + Token line
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        color: var(--color-txt-secondary);
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        font-family: var(--main-font);
        text-align: left;
    }
}

.tx-direction {
    filter: var(--color-icon-link-filter);
    // The icon that represent the flow of the transaction
    margin-top: 8px;
    margin-bottom: 8px;
}
.tx-destination-address {
    border-radius: var(--data-background-radius);
    background-color: var(--data-background-color);
    padding: var(--data-background-padding);
    // The target addresss for send transactions
    width: 100%;
    color: var(--color-txt-primary);
    font-weight: 400;
    font-size: 14px;
    font-family: var(--main-font);
    text-align: center;
    word-break: break-all;
}
.tx-fees-container {
    // Container for the fees information
    margin-top: 0px;
    margin-bottom: 0px;
    .tx-fees-data {
        // Stacks all the Fees data + Fees info vertically
    }
    .tx-fees-item {
        // For each fee data
        color: var(--color-txt-primary);
    }
    .tx-fees-info {
        // For information about the fees
        margin-top: 4px;
        color: var(--color-txt-secondary);
        font-size: 11px;
        line-height: 1.1;
    }
}

.tx-fee-options {
    margin: 16px 0px;
}
.radioButton {
    .ant-radio-wrapper {
        color: var(--color-txt-primary);
        line-height: 14px;
    }
    .ant-radio-disabled + span {
        color: var(--color-controls-disabled);
    }
}
/* #endregion TRANSACTION INFORMATION */

/* #region QR CODE */
.qr {
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
    border-radius: var(--modals-border-radius);
    background-color: white;
    padding: 8px;
    width: 164px;
    height: 164px;
}
/* #endregion QR CODE */

/* #region TOKEN SYMBOL ICON + DESCRIPTION */
.token {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: default;
    width: 240px;
}
.token__icon {
    margin-right: 8px;
    width: var(--icon-token-size);
    height: var(--icon-token-size);
}
.token__name {
    color: var(--color-txt-primary);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left;
}
.token__ticker {
    cursor: default;
    color: var(--color-txt-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    font-family: var(--brand-font);
    letter-spacing: 0px;
}
/* #endregion TOKEN SYMBOL ICON + DESCRIPTION */

.conditional-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    width: 100%;
}
.tx-feedback-container {
    // Container with all the feedback elemensts
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    .tx-feedback-text {
        // Explanation about the status
        color: var(--color-txt-primary);
    }
    .tx-feedback-icon {
        // Container for the feedback icon
    }
}

.TEST {
    // border: var(--debugBorder);
    // border-color: aqua;
    background-color: rgba(226, 43, 198, 0.251) !important;
    border: 1px dashed red;
}

.wallet__settings {
    // background-color: red;
}
/* #section FOOTER */

.footer-container {
    /* Auto layout */
    margin-top: 24px;
    box-shadow: var(--surface-shadow-1);
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    background: var(--surface-color-1);
    padding: var(--card-padding);
    width: 100%;
}
/* #endsection FOOTER */

/* #region MOBILE */
@media (max-width: 768px) {
    .ant-layout-footer {
        display: none;
    }
}
/* #endregion MOBILE */
