/*
icons.css contains all the css code for Icons across the Dapp
*/

.icon-copy {
    width: 22px;
    height: 22px;
    background-image: url("../icons/CopyOutline.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    display: block;
    filter: var(--color-icon-link-filter);
}
.icon-checked {
    width: 22px;
    height: 22px;
    background-image: url("../icons/checked.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    display: block;
    filter: var(--color-icon-link-filter);
}

.icon-external-link {
    width: 22px;
    height: 22px;
    background-image: url("../icons/ExternalLink.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    display: block;
    filter: var(--color-icon-primary);
}
.icon-tx-inProgress {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../icons/feedback-icons/feedbackInProgress.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-neutral);
}
.icon-tx-checkUnchecked {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../icons/feedback-icons/feedbackCheckUnchecked.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-neutral);
}
.icon-tx-checkChecked {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../icons/feedback-icons/feedbackCheckChecked.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-neutral);
}

.icon-tx-signWallet {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/feedback-icons/feedbackSignWallet.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-neutral);
}

.icon-tx-waiting {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/feedback-icons/feedbackWaiting.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-neutral);
}

.icon-tx-success {
    width: 32px;
    height: 32px;
    background-image: url("../icons/feedback-icons/feedbackSuccess.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
}

.icon-tx-error {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/feedback-icons/feedbackError.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-negative);
}

.icon-waiting {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/feedback-icons/feedbackWaiting.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--color-icon-link-filter);
}

.icon-operation-tx-queuing {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/StatusOperation-Queuing.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-operation-tx-queued {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/StatusOperation-Queued.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-operation-tx-confirming {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/StatusOperation-Confirming.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-operation-tx-confirmed {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/StatusOperation-Confirmed.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-operation-tx-failed {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/StatusOperation-Failed.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-swap-arrow {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../icons/SwapArrow.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-swap {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../icons/Swap.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.icon-preferences {
    width: 16px;
    height: 16px;
    background-image: url("../icons/Preferences.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.icon-arrow-down {
    width: 24px;
    height: 24px;
    background-image: url("../icons/ArrowDown.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: block;
}

.icon-signifier {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../icons/Signifier.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.item-usd {
    padding-right: 8px;
}
.icon-token-coinbase {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/coinbase.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-ca_0 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/ca_0.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-ca_1 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/ca_1.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-tc_0 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tc_0.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}
.icon-token-tc_1 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tc_1.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-tf {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tf.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-tp_0 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tp_0.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-tp_1 {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tp_1.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-token-tx {
    width: var(--icon-token-size);
    height: var(--icon-token-size);
    background-image: url("../tokens/tx.svg");
    background-size: var(--icon-token-size) var(--icon-token-size);
    background-repeat: no-repeat;
}

.icon-status-success {
    width: 24px;
    height: 24px;
    background-image: url("../icons/SuccessOutline.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-positive);
}

.icon-status-warning {
    width: 24px;
    height: 24px;
    background-image: url("../icons/WarningOutline.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-negative);
}

.icon-status-alert {
    width: 24px;
    height: 24px;
    background-image: url("../icons/AttentionOutline.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    filter: var(--filter-semantic-negative);
}

.icon__govBalance {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../icons/govBalance.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.icon__govStaked {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../icons/govStaked.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__govUnstaking {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../icons/govUnstaking.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__govReadyWithdraw {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../icons/govReadyWithdraw.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__govLockedTokensVoting {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../icons/govLockedVoting.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__close__menu {
    background-image: url("../icons/icon__close__menu.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__vote__against {
    background-image: url("../icons/VotingAgainstOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__vote__infavor {
    background-image: url("../icons/VotingInfavorOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.icon__button__arrow {
    background-image: url("../icons/ArrowCircledRightOutline.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.icon__addProposal {
    background-image: url("../icons/AddProposalOutline.svg");
    background-size: 48px 48px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.icon__addProposal {
    background-image: url("../icons/AddProposalOutline.svg");
    background-size: 48px 48px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.icon__toggle__collapse {
    background-image: url("../icons/IconToggleCollapse.svg");
    filter: var(--color-icon-link-secondary-filter);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.icon__toggle__expand {
    background-image: url("../icons/IconToggleExpand.svg");
    filter: var(--color-icon-link-secondary-filter);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.icon__selected {
    background-image: url("../icons/Selected.svg");
    filter: var(--color-icon-link-secondary-filter);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
