/* #region HIDE OPTION TO PAY FEES WITH GOVERNANCE TOKEN */
/*
.sectionExchange__Content {
    .ant-radio,
    .ant-radio-disabled {
        display: none !important;
    }
    .ant-space > div:last-child {
        display: none !important;
    }
    .ant-radio.ant-radio-checked > span {
        margin-left: 0px;
    }
    .ant-radio-wrapper > span {
        padding: 0px !important;
        cursor: default !important;
    }
}

 */
/* #endregion HIDE OPTION TO PAY FEES WITH GOVERNANCE TOKEN */

/* #region HIDE GOVERNANCE TOKEN PERFORMANCE CARD */
// #performanceCard {
//     display: none;
// }
// #distributionCard {
//     width: 680px !important;
//     height: 100%;
// }
/* #endregion HIDE GOVERNANCE TOKEN PERFORMANCE CARD */

/* #region WITHDRAW CARD WIDE  */
#stakingWithdrawCard {
    width: 100% !important;
}
.SecondCardsGroup {
    display: flex !important;
    width: 100%;
}
/* #endregion WITHDRAW CARD WIDE  */

/* #region HIDE VESTING ONBOARDING FOR MOC  */
#vestingOnboardingPagination,
#vestingOnboardingUseClaimCode,
#vestingOnboardingClaimCodeExplanation {
    display: none;
}
/* #endregion HIDE VESTING ONBOARDING FOR MOC  */
