// Variables
$breakpoint-mobile: 600px;

.app-header {
    height: auto;
    min-height: 80px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .wallet-user {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 8px;
        margin-left: 31px;
        margin-left: 0px;
        box-shadow: var(--surface-shadow-1);
        border: var(--card-border);
        border-radius: var(--card-border-radius);
        background: var(--surface-color-1);
        padding: 8px 16px;
        width: 192px;
        height: 80px;
        line-height: 80px;
        .wallet-address {
            display: flex;
            flex: none;
            flex-grow: 0;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            order: 1;
            gap: 8px;
            padding: 0px;
            width: 160px;
            height: 24px;
            color: (var(--color-txt-primary));
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px; // identical to box height
            font-family: var(--main-font);
            text-align: center;
        }

        .walletDisconnected a {
            color: var(--color-semantic-negative);
            // color: var(--color-icon-link-filter);
        }
        .walletConnected a {
            color: var(--color-icon-link-filter);
        }
        .walletDisconnected .logo-wallet {
            filter: var(--filter-semantic-negative);
            background-image: url("../../assets/icons/walletIconDisconnected.svg");
        }
        // a:hover {
        //     color: var(--color-btn-tertiary-txt-hover);
        // }
        .logo-wallet {
            filter: var(--color-nav-icon-filter-default);
            background-image: url("../../assets/icons/WalletOutline.svg");
            background-size: 24px 24px;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }

        // .wallet-address:hover {
        //     .logo-wallet {
        //         filter: var(--color-nav-icon-filter-hover);
        //         width: 24px;
        //         height: 24px;
        //     }
        // }

        .language-menu {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 10;
            box-shadow: var(--surface-shadow-3);
            border: var(--card-border);
            border-radius: var(--card-border-radius);
            background-color: var(--surface-color-3);
            padding-top: 16px;
            padding-bottom: 16px;
            width: 100%;
            font-weight: 600;
            font-family: var(--main-font);

            .menu-item {
                justify-content: flex-start;
                background-color: var(--color-language-background-default);
                color: var(--color-language-txt-default);
            }
            .menu-item-selected {
                justify-content: flex-start;
                background-color: var(--color-language-background-active);
                color: var(--color-language-txt-active);
                .icon-checked {
                    filter: var(--color-language-icon-filter-active);
                }
            }
            span {
                width: 90%;
            }
        }

        .language-menu > div > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            padding: 0 16px;
            height: 40px;
        }

        .menu-icon {
            display: flex;
            align-items: center;
            margin-right: 10px;
            width: 18%;
        }

        .menu-icon img {
            width: 24px;
            height: auto;
        }

        .language-menu > div > div:hover {
            background-color: var(--color-language-background-hover);
            color: var(--color-language-txt-hover);
        }

        .language-menu > div > div:last-child {
            border-bottom: none;
        }
    }
    .wallet-address:hover {
        a {
            color: var(--color-txt-link);
        }
        .logo-wallet {
            filter: var(--color-nav-icon-filter-hover);
        }
    }
    .wallet-translation {
        display: flex;
        flex: none;
        flex-grow: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        order: 0;
        gap: 8px;
        padding: 0px;
        width: 80px;
        width: 100%;
        height: 24px;
        a.translation-selector {
            opacity: 1;
            color: var(--color-txt-primary);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            font-family: var(--main-font);
            letter-spacing: 0px;
            text-align: right;
        }
        .logo-translation {
            filter: var(--color-nav-icon-filter-default);
            background-image: url("../../assets/icons/GlobeOutline.svg");
            background-size: 24px 24px;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
    }
    .wallet-translation:hover {
        .logo-translation {
            // background-image: url('../../assets/icons/GlobeFilled.svg');
            filter: var(--color-nav-icon-filter-hover);
        }
    }
}
/*
    --- Main nav ---
*/

.central-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 31px;
    margin-left: 0px;
    box-shadow: var(--surface-shadow-1);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    background: var(--surface-color-1);
    width: 736px;
    width: 752px;
    height: 80px;
    line-height: 80px;
}

.menu-nav-item {
    display: flex;
    position: relative;
    flex: none;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0;
    gap: 2px;
    border-top: var(--card-border);
    border-bottom: var(--card-border);

    background-color: var(--surface-color-1);
    padding: 13px 15px;

    width: 132px;
    height: 80px;
    color: var(--color-nav-txt-default);
}
.menu-nav-item-more {
    display: flex;
    position: relative;
    flex: none;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0;
    gap: 4px;
    border-top: var(--card-border);
    border-bottom: var(--card-border);
    background-color: var(--surface-color-1);
    padding: 13px 15px;
    width: 60px;
    height: 80px;
    color: var(--color-nav-txt-default);
}

.menu-nav-item::after,
.menu-nav-item-more::after {
    position: absolute;
    right: 4px;
    bottom: 3px;
    left: 4px;
    transition: background-color 0.3s;
    background-color: transparent;
    height: 3px;
    content: "";
}

.menu-nav-item:hover::after,
.menu-nav-item-more:hover::after {
    background-color: var(
        --color-nav-txt-hover
    ); /* Change underline color when hover */
}

.menu-nav-item:hover {
    color: var(--color-nav-txt-hover);
    .logo-portfolio {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-send {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-exchange {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-performance {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-staking {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-liquidity-mining {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-vesting {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-voting {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
    .logo-exchange-combined {
        filter: var(--color-nav-icon-filter-hover);
        background-size: 32px 32px;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
}
.menu-nav-item-more:hover {
    color: var(--color-nav-txt-hover);
    .logo-more {
        filter: var(--color-nav-icon-filter-hover);
    }
}
.menu-nav-item-selected {
    position: relative;
    background-color: var(--color-nav-background-active);
    color: var(--color-nav-txt-active) !important;
}

.menu-nav-item-selected::after {
    position: absolute;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background-color: var(--color-nav-txt-active);
    height: 2px;
    // Line below active option
    content: "";
}

.menu-nav-item:hover div.color-filter-invert {
    filter: var(--color-nav-icon-filter-hover);
}
.menu-nav-item-more:hover div.color-filter-invert {
    filter: var(--color-nav-icon-filter-hover);
}
.color-filter-invert {
    filter: var(--color-hover-icon-filter);
}

.color-filter-disabled {
    filter: var(--color-nav-icon-filter-disabled);
}

.menu-nav-item-title {
    position: relative;
    flex: none;
    flex-grow: 0;
    order: 1;
    width: 110px;
    height: 17px;
    color: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--main-font);
    text-align: center;
}
.menu-nav-item-title-more {
    flex: none;
    flex-grow: 0;
    order: 1;
    padding-top: 8px;
    width: 40px;
    height: 20px;
    color: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: normal;
    font-family: var(--main-font);
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 76px;
    right: -20px;
    z-index: 1;
    box-shadow: var(--surface-shadow-1);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    background-color: var(--surface-color-1);
    padding: 8px;
    .menu-nav-item {
        border: none;
    }
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item a {
    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: var(--surface-color-1);
}

.logo-portfolio {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/PortfolioOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-portfolio-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/PortfolioOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-send {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/SendOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-send-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/SendOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-exchange {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/ExchangeOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-exchange-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/ExchangeOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-performance {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/PerformanceOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-performance-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/PerformanceOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-staking {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/StakeOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-staking-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/StakeOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-liquidity-mining {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/LiquidityMiningOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-liquidity-mining-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/LiquidityMiningOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.logo-vesting {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/VestingOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-vesting-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/VestingFilled.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-voting {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/VotingOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-voting-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/VotingOutline.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-exchange-combined {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/ExchangeCombined.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-exchange-combined-selected {
    filter: var(--color-nav-icon-filter-active);
    background-image: url("../../assets/icons/ExchangeCombined.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.logo-more {
    filter: var(--color-nav-icon-filter-default);
    background-image: url("../../assets/icons/OverflowOutline.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

/* #region MOBILE */
@media (max-width: 768px) {
    .mobile-only {
        display: block !important;
    }
    .desktop-only {
        display: none !important;
    }
    .row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .icon {
        margin-top: 10px;
    }
    .ShowTokenMigration {
        margin-top: 24px;
        .NotificationMigration {
            flex-direction: column;
            height: auto;
            .Information {
                width: 100%;
                text-align: justify;
            }
            .cta-options-group {
                margin-top: 16px;
                width: 100%;
            }
        }
    }
    .ant-layout-header {
        position: sticky;
        top: 0;
        z-index: 500;
        margin-top: 0;
        height: auto;
        min-height: 56px;
    }
    .ant-layout {
        padding-bottom: 0;
        width: 100%;
        max-width: 100%;
    }
    .ant-modal-content {
        padding: var(--card-padding) var(--card-padding-mobile)
            var(--card-padding) var(--card-padding-mobile) !important;
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--color-mobilenav-header-shadow);
        background-color: var(--color-mobilenav-header-background);
        padding: 0px 12px;
        width: 100%;
        height: 56px;

        .wallet-user {
            margin: 0;
            box-shadow: none;
            background-color: transparent !important;
            height: 100%;
            .wallet-address {
                margin: 0;
                color: var(--color-mobilenav-header-text);
                .logo-wallet {
                    filter: var(--color-mobilenav-header-filter);
                }
            }
            .wallet-translation {
                display: none;
            }
        }
        .mobile__menu__button {
            filter: var(--color-mobilenav-header-filter);
            background-image: url(../../assets/icons/mobile_menu.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
        }
    }
    .section-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-right: 8px;
        margin-left: 8px;
        max-width: 100%;
    }
    .alert {
        flex-direction: column;
        .ant-alert-description {
            line-height: 120%;
        }
    }
    .central-menu {
        display: none;
    }
    .layout-card {
        padding: 16px 12px 16px 12px;
        width: 100%;
        max-width: 100%;
        .layout-card-title {
            h1 {
                font-size: 18px;
            }
        }
    }
    .section__innerCard--small {
        padding-right: 8px;
        padding-left: 8px;
        width: 100%;
    }
    .content-body {
        padding: var(--card-padding-mobile);
        max-width: 100%;
    }
    .dashboard-portfolio {
        max-width: 100%;
    }
    .content-last-operations {
        min-height: 100dvh;
        .ant-table-pagination {
            margin-bottom: 54px;
        }
    }
    .central-menu {
        display: none;
    }
    .mobile__menu__button {
        display: block;
        cursor: pointer;
    }
    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background: var(--modals-backdrop-color);
        width: 100%;
        height: 100%;
    }
    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0; /* adjust according to your header height */
        left: 0;
        flex-direction: column;
        gap: 32px;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
        background-color: var(--color-mobilenav-background-default);
        padding: 32px;
        min-width: 300px;
        max-width: 90%;
        height: 100vh;
    }
    .mobile-menu-item {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--color-mobilenav-txt-default);
        font-weight: 600;
        font-size: 18px;
        font-family: var(--brand-font);
        // padding: 15px;
        text-align: left;
        span {
            display: none;
        }
    }
    .mobile-menu-item-selected {
        font-weight: 600;
        font-size: 18px;
        font-family: var(--brand-font);
    }
    .mobile__menu__icon {
        filter: var(--color-mobilenav-icon-filter);
        background-size: 24px;
        width: 24px;
        height: 24px;
    }
    .mobile-menu-item:hover {
        // background-color: #f0f0f0;
        color: black;
    }
    .mobile-menu-close {
        align-self: flex-end;
        filter: var(--color-mobilenav-icon-filter);
        cursor: pointer;
        border: none;
        background: none;
        font-size: 24px;
    }
    .mobile__menu__options {
        display: flex;
        flex-direction: column;
        gap: 32px;
        height: 100%;
    }
    .dappVersion {
        color: var(--color-mobilenav-txt-default);
    }
    .lightModeContainer {
        .lightModeText {
            color: var(--color-mobilenav-txt-default) !important;
            font-size: 16px;
        }
    }
    .language__options {
        margin-top: auto;
        padding: 8px;
    }
    .mobile-language-selector {
        cursor: pointer;
        border-radius: var(--card-border-radius);
        color: var(--color-mobilenav-txt-default);
        font-weight: 600;
        font-size: 18px;
        line-height: normal;
        font-family: var(--brand-font);
    }
    .mobile-language-submenu {
        display: flex;
        bottom: 64px;
        left: 0;
        flex-direction: column;
        gap: 16px;
        padding-left: 0;
        font-size: 16px;
        span {
            color: black;
        }
    }
    .mobile-language-title {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 16px;
    }
    .cta-container {
        .cta-options-group {
            flex-direction: column;
        }
    }
    .button {
        width: 100%;
        height: 48px;
    }
    .tx-amount-group {
        .address.wallet__columns {
            flex-direction: column !important;
            gap: 32px;
        }
    }
    .dash__perfLeveraged {
        height: 100%;
        .card-content {
            row-gap: 12px;
        }
    }
    .dash__perfCollateral {
        height: 100%;
        .card-content {
        }
        .dash_perfCollateral__dash {
            display: flex;
            row-gap: 12px;
            flex-direction: column;
        }
    }
    .card-tps {
        .ant-table-thead .ant-table-cell {
            border-bottom: none;
        }
    }
    .dash__perfPegged {
        height: 100%;
    }

    .token__data__container {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .token__data__container .token {
        margin-bottom: 8px;
    }

    .thead {
        display: none;
    }
    .token--mobile {
        background-size: contain;
        width: 24px;
        height: 24px;
    }
    .token__icon {
        background-size: contain;
        width: 24px;
        height: 24px;
    }
    .token__data__group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        padding-left: 38px;
        width: 100%;
    }
    .token__data__label {
        color: var(--color-txt-secondary);
        font-weight: 600;
        font-size: 16px;
        font-family: var(--main-font);
    }
    .token__data__data {
        color: var(--color-txt-primary);
        font-weight: 400;
        font-size: 14px;
        font-family: var(--main-font);
        text-align: right;
    }
    .dashboard-portfolio {
        padding-top: 16px;
        padding-right: 8px;
        padding-left: 8px;
        width: 100%;
        .tokens-list-table {
            margin-top: 16px;
            width: 100%;
        }
        .tokens-card-content {
            padding: 0;
            width: 100%;
            max-width: 100%;

            .ant-table-cell {
                padding: 4px 0px !important;
            }
            .tokens__table__mobile,
            .token {
                margin-left: 0;
            }
            .tokens__table__mobile {
                width: 100%;
            }
            .tokens-list-header {
                display: flex;
                gap: 0px;
                padding-right: 8px;
                padding-left: 8px;
                width: 100%;

                .tokens-list-header-balance {
                }
            }
            .token__contents {
                display: flex;
                flex-direction: column;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 100%;
            }
            .token__details {
                display: flex;
                flex-direction: row;
                padding-top: 24px;
                width: 100%;
            }
            .token__details__token {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 8px;
                width: 100%;
            }
            .token__details__account {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 8px;
                width: 100%;
            }
            .token__data__big {
                display: flex;
                flex-direction: column;
                width: 100%;
                color: var(--color-txt-primary);
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                font-family: var(--main-font);
            }
            .token__data__small {
                color: var(--color-txt-secondary);
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                font-family: var(--main-font);
            }
            .token__label {
                color: var(--color-txt-secondary);
                font-weight: 400;
                font-size: 10px;
                font-family: var(--main-font);
                text-transform: uppercase;
            }
            .right {
                align-items: flex-end;
                text-align: right;
            }
        }
    }
    .LastOp__expanded__container {
        gap: 12px 8px;
    }

    .ant-notification-topRight {
        right: auto !important;
    }

    .section__innerCard--big {
        padding: 16px 12px 16px 12px !important;
        width: 100% !important;
    }
}
/* #region MOBILE */

@media (min-width: #{$breakpoint-mobile + 1}) {
    .mobile__menu__button {
        display: none;
    }
}

// .ant-notification-notice {
//     background-color: var(--notification-info-background);
//     color: var(--notification-info-tex);
//     border-radius: var(--card-border-radius); /* Redondear esquinas */
// }
