.sectionClaim {
    .row-section {
        margin-top: var(--layout-module-gap-vertical);
    }
    .firstCardsGroup {
        display: flex;
        column-gap: var(--layout-module-gap-horizontal);
        width: 100%;
    }
    #claimCard {
        width: 386px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #performanceCard {
        flex: 1 1 0;
        min-width: 0;
        width: auto;

        .tab-content {
            display: flex;
            justify-content: space-between;
            gap: 32px;
            align-items: flex-end;
            .ChartContainer {
                padding-bottom: 0px;
            }
        }
        .stakeCTA {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    .card-content {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .alert {
        margin-bottom: var(--layout-module-gap-vertical);
    }
}
