/*
section_send.scss contains all the css code for Send section cards not contained in global.scss
*/

.sectionSend__Content {
    font-family: var(--brand-font);
    align-items: center;
    flex-direction: column;
    display: flex;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.sectionSend__Content--v1 {
    .tokenSelector {
        height: auto;
    }
}
